@font-face {
  font-family: 'simple_forum';
  src: url('../font/simple_forum.eot?66782694');
  src: url('../font/simple_forum.eot?66782694#iefix') format('embedded-opentype'),
       url('../font/simple_forum.woff?66782694') format('woff'),
       url('../font/simple_forum.ttf?66782694') format('truetype'),
       url('../font/simple_forum.svg?66782694#simple_forum') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'simple_forum';
    src: url('../font/simple_forum.svg?66782694#simple_forum') format('svg');
  }
}
*/
 
 [class^="simple-forum-icon-"]:before, [class*=" simple-forum-icon-"]:before {
  font-family: "simple_forum";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.simple-forum-icon-facebook-1:before { content: '\e804'; } /* '' */
.simple-forum-icon-facebook-rect:before { content: '\e805'; } /* '' */
.simple-forum-icon-twitter-bird-1:before { content: '\e806'; } /* '' */
.simple-forum-icon-googleplus-rect:before { content: '\e807'; } /* '' */