
.simple-forum-icon-facebook-1:before { content: '\e804'; } /* '' */
.simple-forum-icon-facebook-rect:before { content: '\e805'; } /* '' */
.simple-forum-icon-twitter-bird-1:before { content: '\e806'; } /* '' */
.simple-forum-icon-googleplus-rect:before { content: '\e807'; } /* '' */