.addTitle{
    margin-left: 30px;
    margin-right: 30px;
    > .title{
        font-size: 26px;
        margin-top: 30px;
        color: $mainColor;
        font-weight: 300;
    }
    > .text{
        font-size: 16px;
        margin-top: 0px;
        color: $leftNavColor;
        line-height: 150%;
        padding-right: 0px;
    }
}
@media (max-width:1100px){
    .addTitle{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width:700px){
    .addTitle{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:400px){
    .addTitle{
        > .title{
            font-size: 20px;
            margin-top: 30px;
            color: $mainColor;
            font-weight: 300;
        }
        > .text{
            font-size: 14px;
            margin-top: 0px;
            color: $leftNavColor;
            line-height: 150%;
            padding-right: 0px;
        }
    }
}