.addSoftver-box{
    margin-left: 30px;
    margin-right: 70px;
    > .input{
        width: 100%;
        height: 55px;
        margin-bottom: 20px;
        border: 0 solid transparent;
        background-color: #eaeaea;
        padding-left: 20px;
        font-size: 15px;
        padding-right: 20px;
        color: $mainColor;
    }
    > .input:focus{
        background-color: $leftNavColor;
    }
    ::-webkit-input-placeholder { 
        color: $mainColor;
    }
    > .textarea{
        width: 100%;
        margin-bottom: 20px;
        height: 200px;
        border: 0 solid transparent;
        background-color: #eaeaea;
        padding-left: 20px;
        font-size: 15px;
        font-family: 'Arial';
        padding-top: 20px;
        padding-right: 20px;
        color: $mainColor;
    }
    > .textarea:focus{
        background-color: $leftNavColor;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    > .button{
        width: 200px;
        height: 41px;
        margin-top: 30px;
        border: 0px solid transparent;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
        text-align: right;
        padding-right: 25px;
    }
    > .button:hover{
        background-color: $leftNavColor;
    }
    > .message{
        background-color: $questionColor;
        padding: 12px 70px 12px 30px;
        margin-top: 30px;
        position: absolute;
        margin-left: 5px;
        color: white;
        font-size: 15px;
    }
}
#download{
    position: absolute;
    margin-left: -35px;
    margin-top:-5px;
}
@media (max-width:1100px){
    .addSoftver-box{
        margin-left: 25px;
        margin-right: 65px;
    }
}
@media (max-width:700px){
    .addSoftver-box{
        margin-left: 10px;
        margin-right: 50px;
        > .input{
            width: 100%;
            height: 55px;
            margin-bottom: 20px;
            border: 0 solid transparent;
            background-color: #eaeaea;
            padding-left: 20px;
            font-size: 15px;
            padding-right: 20px;

        }
        ::-webkit-input-placeholder { 
            color: $mainColor;
        }
        > .textarea{
            width: 100%;
            margin-bottom: 20px;
            height: 200px;
            border: 0 solid transparent;
            background-color: #eaeaea;
            padding-left: 20px;
            font-size: 15px;
            font-family: 'Arial';
            padding-top: 20px;
            padding-right: 20px;
        }
        > .button{
            width: 200px;
            height: 41px;
            margin-top: 30px;
            border: 0px solid transparent;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
        }
        > .message{
            background-color: $questionColor;
            padding: 12px 70px 12px 30px;
            margin-top: 30px;
            position: absolute;
            margin-left: 5px;
            color: white;
            font-size: 15px;
        }
    } 

}
@media (max-width:560px){
    .addSoftver-box{
        margin-left: 10px;
        margin-right: 50px;
        > .input{
            width: 100%;
            height: 55px;
            margin-bottom: 20px;
            border: 0 solid transparent;
            background-color: #eaeaea;
            padding-left: 20px;
            font-size: 15px;
            padding-right: 20px;

        }
        ::-webkit-input-placeholder { 
            color: $mainColor;
        }
        > .textarea{
            width: 100%;
            margin-bottom: 20px;
            height: 200px;
            border: 0 solid transparent;
            background-color: #eaeaea;
            padding-left: 20px;
            font-size: 15px;
            font-family: 'Arial';
            padding-top: 20px;
            padding-right: 20px;
        }
        > .button{
            width: 200px;
            height: 41px;
            margin-top: 30px;
            border: 0px solid transparent;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
        }
        > .message{
            background-color: $questionColor;
            padding: 12px 70px 12px 30px;
            margin-top: 20px;
            position: relative;
            float: left;
            margin-left: 0px;
            color: white;
            font-size: 15px;
        }
    } 

}