.bottomBanner{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 50px;

    > .banner{
        margin-left: 30px;
        margin-right: 30px;
        height: 90px;
        background-color: $leftNavColor;
        margin-bottom: 50px;
    }
}
@media (max-width:1100px){
    .bottomBanner{
 
    > .banner{
        margin-left: 25px;
        margin-right: 25px;
    }
}
}
@media (max-width:700px){
    .bottomBanner{
        margin-top: 30px;
        width: 100%;
        margin-bottom: 0px;

        > .banner{
            margin-left: 10px;
            margin-right: 10px;
            height: 90px;
            background-color: $leftNavColor;
            margin-bottom: 0px;
        }
    }

}