.contentBox{
    width: 100%;
    float: right;
    height: 100%;
    margin-left: -350px; 
}
@media (min-width:1230px){
    body{
        width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:900px){
    .contentBox{
        margin-left:0px;
    }
}