.copyright-box{
    width: 100%;
    bottom: 0px;
    float: left;
    margin-top: -93px;

    > .text-box{
        height: 75px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgba(0,0,0,0.6);
        border-bottom: 6px solid #00acee;
    }
    > .text-box >.text1{
        padding-left: 20px;
        padding-top: 18px;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }
    > .text-box >.text2{
        padding-left: 20px;
        color: white;  
        font-size: 12px;
    }
}
@media (max-width:1250px){
    .copyright-box{
        width: 100%;
        margin-top: -93px;
        text-align: center;

        > .text-box{
            height: auto;
            min-height: 75px;
            margin-left: 0px;
            margin-right: 0px;
            background-color: rgba(0,0,0,0.6);
            border-bottom: 6px solid #00acee;

        }
        > .text-box >.text1{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 100px;
            font-weight: bold;
            color: white;
            font-size: 12px;
        }
        > .text-box >.text2{
            padding-left: 20px;
            padding-right: 20px;
            color: white;  
            font-size: 12px;
        }
    }
}
@media(max-width:353px){
    .copyright-box{
        width: 100%;
        margin-top: -93px;

    }
    > .text-box >.text1{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 50px;
            font-weight: bold;
            color: white;
            font-size: 12px;
        }
}