.rightBanner-box{
    width: 280px;
    float:right;
    margin-top: 20px;
    margin-right: 30px;
    > .banner-box{
        height: 250px;
        width: 280px;
    }
    > .banner-box > .banner{
        background-color: $leftNavColor;
        height: 250px;
        width: 280px;
    }
    > .download-box{
       margin-top: 15px;
    }
    > .download-box > .download{
        width: 220px;
        margin: 0;
        padding: 0;
        margin-right: 3px;
        border: 0px solid transparent;
        text-align: left;
        height: 50px;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
    }
    > .download-box > .download:hover{
        background-color: $leftNavColor;
    }
    > .download-box > .download > .image{
        border-right: 1px solid white;  
        padding: 10px 20px 10px 20px;
    }
    > .download-box > .download > .details{
        padding-left: 31px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 11px;
        position: absolute;
    }
     > .download-box > .download > .size{
        padding-left: 27px;
        font-size: 13px;
        margin-top: 29px;
        position: absolute;
    }
    > .download-box > .more:hover{
        background-color: $leftNavColor;
    }
    > .download-box > .more{
        width: 57px;
        border: 0px solid transparent;
        margin: 0;
        padding: 0;
        height: 50px;
        background-color: $secondTagsColor;
        color:white;
        font-size: 26px;
        position: absolute;
        cursor: pointer;
    }
    > .download-box > .information{
        margin-top: 20px;
        font-size: 12px;
        font-weight: bold;
        padding-left: 0px;
        text-align: right;
    }
    > .download-box > .information > .image{
        
    }
    > .download-box > .information > .text1{
        color: $questionColor;
        margin-top: -5px;
        
    }
    > .download-box > .information > .text2{
        color: $leftNavColor;
    }
    
}
@media(max-width:1230px){
    .rightBanner-box{
    width: 280px;
    float:left;
    margin-top: 20px;
    margin-right: 10px;
    margin-left:10px;
 }
}