.details-box{
    margin-left: 30px;
    width: 60%;
    margin-top: 20px;
    float:left;
    > .details-img{
        float: left;
        height: 150px;
        width: 220px;
    }
    > .details-img > .image{
        height: 150px;
        width: 220px;
    }
    > .banner-box1{
        float: left;
        height: 250px;
        width: 220px;
        margin-top: -105px;
    }
    > .banner-box1 > .banner1{
        background-color: $leftNavColor;
        height: 250px;
        width: 220px;

    }
    > .mainInformation-box{
        float:left;
        width: 260px;
        margin-left: 10px;
    }
    > .mainInformation-box > .list{
        list-style: none;
        background-color: $secondTagsColor;
        padding: 0;
        margin: 0px;  
    }
    > .mainInformation-box > .list > .element{
        border-bottom: 1px solid white;
        color: $leftNavColor;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
    }
    > .mainInformation-box > .list > .element > .text{
        color: $leftNavColor;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
    }
    > .mainInformation-box > .list > .element > .text > .title{
        font-weight: bold;
    }
    > .otherInformation-box{
        float:left;
        width: 260px;
        margin-left: 10px;
        background-color: $mainColor;
        margin-top: 10px;
        height: 134px;
    }
    > .otherInformation-box > .share{
        color: $leftNavColor;
        font-size: 15px;
        padding: 0px 10px 0px 10px;
    }
    > .otherInformation-box > .list{
        list-style: none;
        display: inline-block;
        margin-top: 15px;
        text-align: center;
        margin-left: -14px;
    }
    > .otherInformation-box > .list > .element{
        background-color: white;
        padding:10px;
    }
    > .otherInformation-box > .list > .element > .number{

    }
    > .details-text{
        float:left;
        margin-top: 30px;
        line-height: 130%;
        color: $leftNavColor;
        font-size: 15px;
        margin-right: 20px;
    }
    > .evaluation-box1{
        float:left;
        margin-top: 20px;
        width: 100%;
        margin-right: 40px;
        padding: 30px 0px 30px 0px;
    }
    > .evaluation-box1 > .color{
        margin-right: 20px;
        padding: 30px 0px 30px 0px;
        background-color: #eaeaea;
    }
    > .evaluation-box1 > .color > .type{
        font-size: 18px;
        color: $leftNavColor;  
        padding-left: 15px;
        padding-right: 15px;
    }
    > .evaluation-box1 > .color > .evaluation{
        margin-left: 5px;
        position: absolute;
        margin-top: -5px;
    }
    > .evaluation-box1 > .color > .evaluation > .evaluation_point{
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    > .evaluation-box1 > .color > .evaluation > .evaluation_not{
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }
    > .evaluation-box1 > .color > .evaluation > .evaluation_point:before{
        font-family: 'FontAwesome';
        color: $mainColor;
        font-size: 28px;
        content: "\f005";
    }
    > .evaluation-box1 > .color > .evaluation > .evaluation_not:before{
        font-family: 'FontAwesome';
        color: $leftNavColor;
        font-size: 28px;
        content: "\f005";
    }
    .total-box{
        float: right;
        height: 55px;
        width: 100px;
        background-color: $secondTagsColor;
        margin-right: 20px;
        margin-top: -20px;
        margin-bottom: -20px;
        text-align: center;
        padding-top: 5px;
    }
    .total-box > .total_points{
        font-weight: bold;
        color: black;
        font-size: 26px;
    }
    .total-box > .number_evaluation{
        color: $leftNavColor;
        font-size: 14px;
    }
}

@media(max-width:1230px){
    .details-box{
        margin-left: 25px;
        width: auto;
        margin-top: 20px;
        padding-right: 20px;
        overflow: auto;
        float:left;
        > .details-img{
            float: left;
            height: 150px;
            width: 230px;
        }
        > .details-img > .image{
            height: 150px;
            width: 230px;
        }
        > .banner-box1{
            float: left;
            height: 250px;
            width: 230px;
            margin-top: -105px;
        }
        > .banner-box1 > .banner1{
            background-color: $leftNavColor;
            height: 250px;
            width: 230px;

        }
        > .mainInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            margin-right: 80px;
        }
        > .mainInformation-box > .list{
            list-style: none;
            background-color: $secondTagsColor;
            padding: 0;
            margin: 0px;  
        }
        > .mainInformation-box > .list > .element{
            border-bottom: 1px solid white;
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text{
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text > .title{
            font-weight: bold;
        }
        > .otherInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            background-color: $mainColor;
            margin-top: 10px;
            height: 134px;
        }
        > .otherInformation-box > .share{
            color: $leftNavColor;
            font-size: 15px;
            padding: 0px 10px 0px 10px;
        }
        > .otherInformation-box > .list{
            list-style: none;
            display: inline-block;
            margin-top: 15px;
            text-align: center;
            margin-left: -12px;
        }
        > .otherInformation-box > .list > .element{
            background-color: white;
            padding:10px;
        }
        > .otherInformation-box > .list > .element > .number{

        }
        > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
        }
        > .evaluation-box{
            float:left;
            margin-top: 50px;
            width: 100%;
            padding: 30px 0px 30px 0px;
        }
        > .evaluation-box > .type{
            font-size: 18px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
        }
        > .evaluation-box > .evaluation{
            margin-left: 10px;
            position: absolute;
            margin-top: -6px;
        }
        > .evaluation-box > .evaluation > .evaluation_point{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_not{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 30px;
            content: "\f005";
        }
        > .evaluation-box > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 30px;
            content: "\f005";
        }
        .total-box{
            float: right;
            height: 55px;
            width: 100px;
            background-color: $secondTagsColor;
            margin-right: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            text-align: center;
            padding-top: 5px;
        }
        .total-box > .total_points{
            font-weight: bold;
            color: black;
            font-size: 26px;
        }
        .total-box > .number_evaluation{
            color: $leftNavColor;
            font-size: 14px;
        }
    }
}
@media(max-width:1100px){
    .details-box{
        margin-left: 25px;
        > .evaluation-box1 > .color{
        margin-right: 00px;
        padding: 30px 0px 30px 0px;
        background-color: #eaeaea;
    }
    > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
            margin-right: 0px;
        }
    }
}
@media(max-width:960px){
    .details-box{
        margin-left: 25px;
        width: auto;
        margin-top: 20px;
        padding-right: 20px;
        overflow: auto;
        float:left;
        > .details-img{
            float: left;
            height: 150px;
            width: 230px;
        }
        > .details-img > .image{
            height: 150px;
            width: 230px;
        }
        > .banner-box1{
            float: left;
            height: 250px;
            width: 230px;
            margin-top: -105px;
        }
        > .banner-box1 > .banner1{
            background-color: $leftNavColor;
            height: 250px;
            width: 230px;

        }
        > .mainInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            margin-right: 0px;
        }
        > .mainInformation-box > .list{
            list-style: none;
            background-color: $secondTagsColor;
            padding: 0;
            margin: 0px;  
        }
        > .mainInformation-box > .list > .element{
            border-bottom: 1px solid white;
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text{
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text > .title{
            font-weight: bold;
        }
        > .otherInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            background-color: $mainColor;
            margin-top: 10px;
            height: 134px;
        }
        > .otherInformation-box > .share{
            color: $leftNavColor;
            font-size: 15px;
            padding: 0px 10px 0px 10px;
        }
        > .otherInformation-box > .list{
            list-style: none;
            display: inline-block;
            margin-top: 15px;
            text-align: center;
            margin-left: -12px;
        }
        > .otherInformation-box > .list > .element{
            background-color: white;
            padding:10px;
        }
        > .otherInformation-box > .list > .element > .number{

        }
        > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
        }
        > .evaluation-box{
            float:left;
            margin-top: 50px;
            width: 100%;
            padding: 30px 0px 30px 0px;
        }
        > .evaluation-box > .type{
            font-size: 18px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
        }
        > .evaluation-box > .evaluation{
            margin-left: 10px;
            position: absolute;
            margin-top: -6px;
        }
        > .evaluation-box > .evaluation > .evaluation_point{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_not{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 30px;
            content: "\f005";
        }
        > .evaluation-box > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 30px;
            content: "\f005";
        }
        .total-box{
            float: right;
            height: 55px;
            width: 100px;
            background-color: $secondTagsColor;
            margin-right: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            text-align: center;
            padding-top: 5px;
        }
        .total-box > .total_points{
            font-weight: bold;
            color: black;
            font-size: 26px;
        }
        .total-box > .number_evaluation{
            color: $leftNavColor;
            font-size: 14px;
        }
    }
}
@media(max-width:900px){
    .details-box{
        margin-left: 25px;
        width: auto;
        margin-top: 20px;
        padding-right: 20px;
        overflow: auto;
        float:left;
        > .details-img{
            float: left;
            height: 150px;
            width: 230px;
        }
        > .details-img > .image{
            height: 150px;
            width: 230px;
        }
        > .banner-box1{
            float: left;
            height: 250px;
            width: 230px;
            margin-top: -105px;
        }
        > .banner-box1 > .banner1{
            background-color: $leftNavColor;
            height: 250px;
            width: 230px;

        }
        > .mainInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            margin-right: 150px;
        }
        > .mainInformation-box > .list{
            list-style: none;
            background-color: $secondTagsColor;
            padding: 0;
            margin: 0px;  
        }
        > .mainInformation-box > .list > .element{
            border-bottom: 1px solid white;
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text{
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text > .title{
            font-weight: bold;
        }
        > .otherInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            background-color: $mainColor;
            margin-top: 10px;
            height: 134px;
        }
        > .otherInformation-box > .share{
            color: $leftNavColor;
            font-size: 15px;
            padding: 0px 10px 0px 10px;
        }
        > .otherInformation-box > .list{
            list-style: none;
            display: inline-block;
            margin-top: 15px;
            text-align: center;
            margin-left: -12px;
        }
        > .otherInformation-box > .list > .element{
            background-color: white;
            padding:10px;
        }
        > .otherInformation-box > .list > .element > .number{

        }
        > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
        }
        > .evaluation-box{
            float:left;
            margin-top: 50px;
            width: 100%;
            padding: 30px 0px 30px 0px;
        }
        > .evaluation-box > .type{
            font-size: 18px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
        }
        > .evaluation-box > .evaluation{
            margin-left: 10px;
            position: absolute;
            margin-top: -6px;
        }
        > .evaluation-box > .evaluation > .evaluation_point{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_not{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 30px;
            content: "\f005";
        }
        > .evaluation-box > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 30px;
            content: "\f005";
        }
        .total-box{
            float: right;
            height: 55px;
            width: 100px;
            background-color: $secondTagsColor;
            margin-right: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            text-align: center;
            padding-top: 5px;
        }
        .total-box > .total_points{
            font-weight: bold;
            color: black;
            font-size: 26px;
        }
        .total-box > .number_evaluation{
            color: $leftNavColor;
            font-size: 14px;
        }
    }
}
@media(max-width:715px){
    .details-box{
        margin-left: 20px;
        width: auto;
        margin-top: 20px;
        padding-right: 20px;
        overflow: auto;
        float:left;
        > .details-img{
            float: left;
            height: 150px;
            width: 230px;
        }
        > .details-img > .image{
            height: 150px;
            width: 230px;
        }
        > .banner-box1{
            float: left;
            height: 250px;
            width: 230px;
            margin-top: -105px;
        }
        > .banner-box1 > .banner1{
            background-color: $leftNavColor;
            height: 250px;
            width: 230px;

        }
        > .mainInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            margin-right: 0px;
        }
        > .mainInformation-box > .list{
            list-style: none;
            background-color: $secondTagsColor;
            padding: 0;
            margin: 0px;  
        }
        > .mainInformation-box > .list > .element{
            border-bottom: 1px solid white;
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text{
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text > .title{
            font-weight: bold;
        }
        > .otherInformation-box{
            float:left;
            width: 270px;
            margin-left: 10px;
            background-color: $mainColor;
            margin-top: 10px;
            height: 134px;
        }
        > .otherInformation-box > .share{
            color: $leftNavColor;
            font-size: 15px;
            padding: 0px 10px 0px 10px;
        }
        > .otherInformation-box > .list{
            list-style: none;
            display: inline-block;
            margin-top: 15px;
            text-align: center;
            margin-left: -12px;
        }
        > .otherInformation-box > .list > .element{
            background-color: white;
            padding:10px;
        }
        > .otherInformation-box > .list > .element > .number{

        }
        > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
        }
        > .evaluation-box{
            float:left;
            margin-top: 50px;
            width: 100%;
            padding: 30px 0px 30px 0px;
        }
        > .evaluation-box > .type{
            font-size: 18px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
        }
        > .evaluation-box > .evaluation{
            margin-left: 10px;
            position: absolute;
            margin-top: -6px;
        }
        > .evaluation-box > .evaluation > .evaluation_point{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_not{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 30px;
            content: "\f005";
        }
        > .evaluation-box > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 30px;
            content: "\f005";
        }
        .total-box{
            float: right;
            height: 55px;
            width: 100px;
            background-color: $secondTagsColor;
            margin-right: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            text-align: center;
            padding-top: 5px;
        }
        .total-box > .total_points{
            font-weight: bold;
            color: black;
            font-size: 26px;
        }
        .total-box > .number_evaluation{
            color: $leftNavColor;
            font-size: 14px;
        }
    }
}
@media(max-width:565px){
     .details-box{
        margin-left: 10px;
        width: auto;
        margin-top: 20px;
        padding-right: 10px;
        overflow: auto;
        float:left;
        > .details-img{
            text-align: center;
            float: left;
            height: 150px;
            width: 100%;
        }
        > .details-img > .image{
            height: 150px;
            width: 230px;
        }
        > .banner-box1{
            float: left;
            height: 250px;
            width: 230px;
            margin-top: -105px;
        }
        > .banner-box1 > .banner1{
            background-color: $leftNavColor;
            height: 250px;
            width: 230px;
            margin-top: 115px;
            border: 0px solid white;
            display: none;

        }
        > .mainInformation-box{
            float:left;
            width: 100%;
            margin-left: 0px;
            margin-top: 20px;
            margin-right: 80px;
        }
        > .mainInformation-box > .list{
            list-style: none;
            background-color: $secondTagsColor;
            padding: 0;
            margin: 0px;  
        }
        > .mainInformation-box > .list > .element{
            border-bottom: 1px solid white;
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text{
            color: $leftNavColor;
            font-size: 14px;
            padding: 8px 10px 8px 10px;
        }
        > .mainInformation-box > .list > .element > .text > .title{
            font-weight: bold;

        }
        > .otherInformation-box{
            float:left;
            width: 100%;
            margin-left: 0px;
            background-color: $mainColor;
            margin-top: -130px;
            height: 134px;
            text-align: center;
        }
        > .otherInformation-box > .share{
            color: $leftNavColor;
            font-size: 15px;
            position: absolute;
            padding: 0px 10px 0px 10px;
        }
        > .otherInformation-box > .list{
            list-style: none;
            display: inline-block;
            margin-top: 45px;
            margin-left:-35px;
            text-align: center;
        }
        > .otherInformation-box > .list > .element{
            background-color: white;
            padding:15px;
        }
        > .otherInformation-box > .list > .element > .number{

        }
        > .details-text{
            float:left;
            margin-top: 30px;
            line-height: 130%;
            color: $leftNavColor;
            font-size: 15px;
        }
        > .evaluation-box{
            float:left;
            margin-top: 50px;
            width: 100%;
            padding: 30px 0px 30px 0px;
        }
        > .evaluation-box > .type{
            font-size: 14px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
        }
        > .evaluation-box > .evaluation{
            margin-left: 10px;
            position: absolute;
            margin-top: -6px;
        }
        > .evaluation-box > .evaluation > .evaluation_point{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_not{
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
        > .evaluation-box > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 30px;
            content: "\f005";
        }
        > .evaluation-box > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 30px;
            content: "\f005";
        }
        .total-box{
            float: none;
            height: 55px;
            
            width: 100px;
            background-color: $secondTagsColor;
            margin-right: 20px;
            margin-top: -20px;
            margin-bottom: -20px;
            text-align: center;
            padding-top: 5px;
            margin:auto;
            margin-top: 10px;
        }
        .total-box > .total_points{
            font-weight: bold;
            color: black;
            font-size: 26px;
        }
        .total-box > .number_evaluation{
            color: $leftNavColor;
            font-size: 14px;
        }
        > .evaluation-box1{
            float:left;
            margin-top: 20px;
            width: 100%;
            margin-right: 20px;
            padding: 20px 0px 0px 0px;
        }
        > .evaluation-box1 > .color{
            margin-right: 0px;
            padding: 20px 0px 20px 0px;
            background-color: #eaeaea;
            text-align: center;
        }
        > .evaluation-box1 > .color > .type{
            font-size: 16px;
            color: $leftNavColor;  
            padding-left: 15px;
            padding-right: 15px;
            margin-top: -38px;
            width: 200px;
           
        }
        > .evaluation-box1 > .color > .evaluation{
            margin-left: 2px;
            display: none;
            margin-top: 20px;
            
        }
        > .evaluation-box1 > .color > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
            cursor: pointer;
        }
        > .evaluation-box1 > .color > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
            cursor: pointer;
        }
        > .evaluation-box1 > .color > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            color: $mainColor;
            font-size: 22px;
            content: "\f005";
        }
        > .evaluation-box1 > .color > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 22px;
            content: "\f005";
        }
    }
}

   