.details-title{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    .title{
        background-color: $leftNavColor;
        padding:10px 20px 10px 20px;
        color: white;
        font-size: 22px;
    }
}
@media (max-width:1100px){
    .details-title{
        margin-left: 25px;
        margin-right: 25px;
        margin-top: -10px;
    .title{
        background-color: $leftNavColor;
        padding:10px 20px 10px 20px;
        color: white;
        font-size: 22px;
    }
}
}
@media (max-width:700px){
    .details-title{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10px;
    .title{
        background-color: $leftNavColor;
        padding:10px 20px 10px 20px;
        color: white;
        font-size: 22px;
    }
}
}