.addSense-row{
    margin-top: 30px;
    > .col1{
        margin-left: 30px;
        width: 250px;
        height: 250px;
        background-color: $leftNavColor;
        float: left;
    }
    > .col2{
        margin-left: 20px;
        width: 250px;
        height: 250px;
        background-color: $leftNavColor;
        float: left;
        margin-right:20px;
    }
}
@media (max-width:1100px){
    .addSense-row{
        margin-top: 30px;
        > .col1{
            margin-left: 25px;
            width: 250px;
            height: 250px;
            background-color: $leftNavColor;
            float: left;
        }
    }
}
@media (max-width:700px){
    .addSense-row{
        margin-top: 30px;
        > .col1{
            margin-left: 10px;
            width: 250px;
            height: 250px;
            background-color: $leftNavColor;
            float: left;
        }
    }
}
@media (max-width:565px){
    .addSense-row{
        margin-top: 30px;
        > .col1{
            margin-left: 10px;
            width: 250px;
            height: 250px;
            background-color: $leftNavColor;
            float: left;
        }
        > .col2{
            margin-left: 10px;
        
            width: 250px;
            height: 250px;
            background-color: $leftNavColor;
            float: left;
            margin-right:50px;
            margin-top: 20px;
        }
    }
}