.downloadTitle{
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    > .text{
        font-size: 22px;
        color: $leftNavColor;
    }
    > .text > .title{
        color: $mainColor;
    }
    > .description{
        color: $leftNavColor;
        font-size: 14px;
    }
    > .description > .link{
        color: $mainColor;
        text-decoration: none;
    }
}
@media (max-width:1100px){
    .downloadTitle{
    
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width:700px){
    .downloadTitle{
    
        padding-left: 10px;
        padding-right: 10px;
    }
}