.download-box{
    width: 100%;
    clear: left;
    position:relative;
    margin-top: 30px;
    float: left;

    > .title-box{
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $questionColor;
    }
    > .title-box > .title{
        color: white;
        padding-left: 30px;
        line-height: 150%;
        font-size: 17px;
    }
    > .download{
        margin-left: 30px;
        margin-right: 30px;
        background-color: $leftNavColor;
        margin-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    > .download > .list{
        list-style: none;
        padding-left: 0px;
        margin-top: -20px;
    }
    > .download > .list > .item{
        background-color: #eaeaea;
        margin-top: 20px;
        height: 60px;
    }
    > .download > .list > .item:hover{
        background-color: $mainColor;
        cursor: pointer;
    }
    > .download > .list > .item > .col1{
        width: 6%;
        float:left;
    }
    > .download > .list > .item > .col2{
        width: 32%;
        float:left;
    }
    > .download > .list > .item > .col3{
        width: 31%;
        float:left;
        border-left: 1px solid $leftNavColor;
        border-right: 1px solid $leftNavColor;
        height: 50px;
        margin-top: 5px;
        text-align: center;
    }
    > .download > .list > .item > .col4{
        width: 30%;
        float:left;
        text-align: center;
    }
    > .download > .list > .item > .col1 > .text{
        color: $questionColor;
        font-weight: bold;
        font-size: 24px;
        line-height: 60px;
        padding-left: 15px; 
    }
    > .download > .list > .item > .col2 > .image{
        width: 60px;
        height: 50px;
        margin-top: 5px;
        float: left;
        margin-right: 20px;
        padding-left: 10px;
    }
    > .download > .list > .item > .col2 > .title{
        color: $leftNavColor;
        font-size: 14px;
        font-weight: normal;
        margin-top: 13px;
    }
    > .download > .list > .item > .col2 > .version{
        color: $leftNavColor;
        font-size: 13px;
        margin-top: -10px;
    }
    > .download > .list > .item > .col3 > .size{
        padding-left: 10px;
        padding-right: 10px;
        color: $leftNavColor;
        font-size: 14px;
        font-weight: normal;
        margin-top: 8px;
    }
    > .download > .list > .item > .col3 > .download{
        padding-left: 10px;
        padding-right: 10px;
        color: $leftNavColor;
        font-size: 13px;
        margin-top: -10px;
    }
    > .download > .list > .item > .col4 > .evaluation{
        margin-top: 20px;
    }
    > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
        margin-left: 2px;
        margin-right: 2px;
        color: $mainColor;
    }
    > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
        font-family: 'FontAwesome';
        
        font-size: 20px;
        content: "\f005";
    }
    > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
        margin-left: 2px;
        margin-right: 2px;
    }
    > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
        font-family: 'FontAwesome';
        color: $leftNavColor;
        font-size: 20px;
        content: "\f005";
    }
    .icon{
        margin-top: 20px;
        padding-left: 10px;
    }
}
@media (max-width:1230px) and (min-width:1000px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
            
            margin-left: 25px;
            margin-right: 25px;
        }
      
        > .download{
            margin-left: 25px;
            margin-right: 25px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 60px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width: 6%;
            float:left;
        }
        > .download > .list > .item > .col2{
            width: 41%;
            float:left;
        }
        > .download > .list > .item > .col3{
            width: 26%;
            float:left;
            border-left: 1px solid $leftNavColor;
            border-right: 1px solid $leftNavColor;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 26%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 15px; 
        }
        > .download > .list > .item > .col2 > .image{
            width: 60px;
            height: 50px;
            margin-top: 5px;
            float: left;
            margin-right: 20px;
            padding-left: 10px;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 20px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}
@media (max-width:1000px) and (min-width:900px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
            
            margin-left: 25px;
            margin-right: 25px;
        }
        
        > .download{
            margin-left: 25px;
            margin-right: 25px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 140px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width:0;
            float:left;
            position: absolute;
            margin-top: -5px;
        }
        > .download > .list > .item > .col2{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col3{
            width: 100%;
            float:left;
            border-left: none;
            border-right: none;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 10px; 
            margin-top: 25px;
        }
        > .download > .list > .item > .col2 > .image{
            width: 70px;
            height: 60px;
            margin-top: 40px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
            position: absolute;
            margin-left: -180px;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 5px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
           
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}
@media (max-width:900px) and (min-width:700px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
           
            margin-left: 25px;
            margin-right: 25px;
        }
      
        > .download{
            margin-left: 25px;
            margin-right: 25px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 60px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width: 5%;
            float:left;
        }
        > .download > .list > .item > .col2{
            width: 43%;
            float:left;
        }
        > .download > .list > .item > .col3{
            width: 29%;
            float:left;
            border-left: 1px solid $leftNavColor;
            border-right: 1px solid $leftNavColor;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 22%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 10px; 
        }
        > .download > .list > .item > .col2 > .image{
            width: 60px;
            height: 50px;
            margin-top: 5px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 20px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
           
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}
@media (max-width:700px) and (min-width:600px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
            
            margin-left: 10px;
            margin-right: 10px;
        }
      
        > .download{
            margin-left: 10px;
            margin-right: 10px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 60px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width: 5%;
            float:left;
        }
        > .download > .list > .item > .col2{
            width: 43%;
            float:left;
        }
        > .download > .list > .item > .col3{
            width: 29%;
            float:left;
            border-left: 1px solid $leftNavColor;
            border-right: 1px solid $leftNavColor;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 22%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 10px; 
        }
        > .download > .list > .item > .col2 > .image{
            width: 60px;
            height: 50px;
            margin-top: 5px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 20px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
            
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}
@media (max-width:700px) and (min-width:500px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
            
            margin-left: 10px;
            margin-right: 10px;
        }
        
        > .download{
            margin-left: 10px;
            margin-right: 10px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 140px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width:0;
            float:left;
            position: absolute;
            margin-top: -5px;
        }
        > .download > .list > .item > .col2{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col3{
            width: 100%;
            float:left;
            border-left: none;
            border-right: none;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 10px; 
            margin-top: 25px;
        }
        > .download > .list > .item > .col2 > .image{
            width: 70px;
            height: 60px;
            margin-top: 40px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
            position: absolute;
            margin-left: -180px;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 5px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
           
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}
@media (max-width:500px) and (min-width:200px){
    .download-box{
        width: 100%;
        clear: left;
        position:relative;
        margin-top: 20px;
        float: left;

        > .title-box{
            
            margin-left: 10px;
            margin-right: 10px;
        }
        > .download{
            margin-left: 10px;
            margin-right: 10px;
            background-color: $leftNavColor;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .download > .list{
            list-style: none;
            padding-left: 0px;
            margin-top: -20px;
        }
        > .download > .list > .item{
            background-color: #eaeaea;
            margin-top: 20px;
            height: 140px;
        }
        > .download > .list > .item:hover{
            background-color: $mainColor;
            cursor: pointer;
        }
        > .download > .list > .item > .col1{
            width:0;
            float:left;
            position: absolute;
            margin-top: -5px;
        }
        > .download > .list > .item > .col2{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col3{
            width: 100%;
            float:left;
            border-left: none;
            border-right: none;
            height: 50px;
            margin-top: 5px;
            text-align: center;
        }
        > .download > .list > .item > .col4{
            width: 100%;
            float:left;
            text-align: center;
        }
        > .download > .list > .item > .col1 > .text{
            color: $questionColor;
            font-weight: bold;
            font-size: 24px;
            line-height: 60px;
            padding-left: 10px; 
            margin-top: 25px;
        }
        > .download > .list > .item > .col2 > .image{
            width: 70px;
            height: 60px;
            margin-top: 40px;
            float: left;
            margin-right: 10px;
            padding-left: 10px;
            position: absolute;
            margin-left: -180px;
            display: none;
        }
        > .download > .list > .item > .col2 > .title{
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 13px;
        }
        > .download > .list > .item > .col2 > .version{
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col3 > .size{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 14px;
            font-weight: normal;
            margin-top: 8px;
        }
        > .download > .list > .item > .col3 > .download{
            padding-left: 10px;
            padding-right: 10px;
            color: $leftNavColor;
            font-size: 13px;
            margin-top: -10px;
        }
        > .download > .list > .item > .col4 > .evaluation{
            margin-top: 5px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_point:before{
            font-family: 'FontAwesome';
           
            font-size: 20px;
            content: "\f005";
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not{
            margin-left: 2px;
            margin-right: 2px;
        }
        > .download > .list > .item > .col4 > .evaluation > .evaluation_not:before{
            font-family: 'FontAwesome';
            color: $leftNavColor;
            font-size: 20px;
            content: "\f005";
        }
        .icon{
            margin-top: 20px;
            padding-left: 10px;
        }
    }

}