.evaluation-box{
    background-color: #eaeaea;
    padding-top:15px;
    margin-top:120px;
    > .title{
        padding-left:15px;
        font-weight: bold;
        font-size: 15px;
        color: $leftNavColor;
    }
    > .name{
        font-size: 15px;
        color: $leftNavColor;
    }
    > .box{

    }
    > .list{
        list-style: none;
        padding: 0;
        margin-top: 5px;
    }
    > .list > .element{
        padding-bottom: 15px;
        font-size: 14px;
        color: $leftNavColor;
        border-bottom: 1px solid white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    > .list > .element > .type{
        font-weight: bold;
        padding-left: 15px;
        padding-right: 10px;
        font-size: 13px;
    }
    > .list > .element > .evaluation {
        position: absolute;
        margin-top: -17px;
        margin-left: 142px;
    }
    > .list > .element > .evaluation > .evaluation_point{
        margin-left: 1px;
        margin-right: 1px;
    }
    > .list > .element > .evaluation >  .evaluation_not{
        margin-left: 1px;
        margin-right: 1px;
    }
    > .list > .element > .evaluation >  .evaluation_point:before{
        font-family: 'FontAwesome';
        color: $mainColor;
        font-size: 19px;
        content: "\f005";
    }
    > .list > .element > .evaluation >  .evaluation_not:before{
        font-family: 'FontAwesome';
        color: $leftNavColor;
        font-size: 19px;
        content: "\f005";
    }
    .footer{

    }
    .footer > .image{

    }
    .footer > .text{
        padding-left: 55px;
        font-size: 11px;
        color: $leftNavColor;
        padding-right: 15px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    .footer > .image > .programName{

    }
    .footer > .image > .percent{

    }
}