.socialIcon-box{

    > .socialIcon-List{
        margin-right: 80px;
        margin-top: -64px;
    }
    > .socialIcon-List > .socialIcon-Element{
        float:right;
        margin-left: 5px;
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon1{
        background-color: #85ceec;
        height: 45px;
        width: 45px;
        float: left;

        > .icon {
            font-family: 'FontAwesome';
            color: white;
            position: absolute;
            margin-left: 10px;
            margin-top: -5px;
            font-size: 48px;
            cursor: pointer;
        }
        > .icon:before {
            content: "\f0d8";
        }
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon1:hover{
        background-color: #333;
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon2:hover{
        background-color: #333;
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon3:hover{
        background-color: #333;
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon4:hover{
        background-color: #333;
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon5:hover{
        background-color: #333;
    }

    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon2{
        background-color: #ff9501;
        height: 45px;
        width: 45px;
        float: left;

        > .icon {
            background-image: url('../img/rss.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:8px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon3{
        background-color: #2794cc;
        height: 45px;
        width: 45px;
        float: left;

        > .icon {
            background-image: url('../img/skype.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:8px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon4{
        background-color: #7bcae8;
        height: 45px;
        width: 45px;
        float: left;

        > .icon {
            background-image: url('../img/twitter-meni-top.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:8px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
    > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon5{
        background-color: #5274b3;
        height: 45px;
        width: 45px;
        float: left;

        > .icon {
            background-image: url('../img/facebook-meni-top.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:8px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
}

@media(max-width:1250px){
    .socialIcon-box{
        margin-top: -130px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
        > .socialIcon-List > .socialIcon-Element{
            margin-left: 5px;
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon1{
            background-color: #85ceec;
            height: 45px;
            width: 45px;
            float: left;

            > .icon {
                font-family: 'FontAwesome';
                color: white;
                position: absolute;
                margin-left: -12px;
                margin-top: -5px;
                font-size: 48px;
                cursor: pointer;
            }
            > .icon:before {
                content: "\f0d8";
            }
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon1:hover{
            background-color: #333;
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon2:hover{
            background-color: #333;
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon3:hover{
            background-color: #333;
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon4:hover{
            background-color: #333;
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon5:hover{
            background-color: #333;
        }

        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon2{
            background-color: #ff9501;
            height: 45px;
            width: 45px;
            float: left;

            > .icon {
                background-image: url('../img/rss.png');
                background-repeat: no-repeat;
                height: 45px;
                width: 45px;
                margin-top:8px;
                margin-left: -12px;
                cursor: pointer;
            }
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon3{
            background-color: #2794cc;
            height: 45px;
            width: 45px;
            float: left;

            > .icon {
                background-image: url('../img/skype.png');
                background-repeat: no-repeat;
                height: 45px;
                width: 45px;
                margin-top:8px;
                margin-left: -15px;
                cursor: pointer;
            }
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon4{
            background-color: #7bcae8;
            height: 45px;
            width: 45px;
            float: left;

            > .icon {
                background-image: url('../img/twitter-meni-top.png');
                background-repeat: no-repeat;
                height: 45px;
                width: 45px;
                margin-top:8px;
                margin-left: -15px;
                cursor: pointer;
            }
        }
        > .socialIcon-List > .socialIcon-Element > .socialIcon-Icon5{
            background-color: #5274b3;
            height: 45px;
            width: 45px;
            float: left;

            > .icon {
                background-image: url('../img/facebook-meni-top.png');
                background-repeat: no-repeat;
                height: 45px;
                width: 45px;
                margin-top:8px;
                margin-left: -15px;
                cursor: pointer;
            }
        }
    }
}
@media(max-width:850px){
    .socialIcon-box{
        margin-top: -140px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
    }
}
@media(max-width:640px){
    .socialIcon-box{
        margin-top: -154px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
    }
}
@media(max-width:452px){
    .socialIcon-box{
        margin-top: -168px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
    }
}
@media(max-width:353px){
    .socialIcon-box{
        margin-top: -183px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
    }
}
@media(max-width:322px){
    .socialIcon-box{
        margin-top: -195px;
        > .socialIcon-List{
            margin-right: 0px;
            margin-top: -125px;
            margin: auto;
            width: 250px;


        }
    }
}