.slide{

    >.header{
        padding-top: 5px;
        background-color: $leftNavColor;
        min-height: 50px;
    }
    >.header > .title{
        line-height: 30px;
        padding-left: 15px;
        margin-top: 10px;
        color: $mainColor;
        font-weight: bold;
        font-size: 16px;
    }
    >.header > .evaluation{
        width: 90px;
        margin-top: 5px;
        float:right;
        margin-right: 15px;
    }
    >.header > .evaluation > .evaluation_point{
        margin-left: 0px;
        margin-right: 0px;
    }
    >.header > .evaluation > .evaluation_not{
        margin-left: 0px;
        margin-right: 0px;
    }
    >.header > .evaluation > .evaluation_point:before{
        font-family: 'FontAwesome';
        color: $mainColor;
        font-size: 14px;
        content: "\f005";
    }
    >.header > .evaluation > .evaluation_not:before{
        font-family: 'FontAwesome';
        color: #E0E0E0;
        font-size: 14px;
        content: "\f005";
    }
    >.header > .time{
        position: absolute;
        padding-left: 15px;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }
    >.header > .version{
        float:right;
        margin-top: 8px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        margin-right: 25px;
        margin-top: 0px;
    }
    >.image-box{
        height: 200px;
        width: 200px;
        margin-left: 15px;
        margin-top: 15px;
    }
    > .image-box > .image{
        height: 200px;
        width: 300px;
    }
    > .text{
        margin-left: 350px;
        margin-top: -180px;
        font-size:13px;
        line-height: 140%;
        color: $leftNavColor;
        margin-right: 50px;
        overflow: auto;
        position: absolute;
    }
    > .download-box{
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 15px;
    }
    >.download-box > .download{
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0px solid transparent;
        text-align: left;
        height: 50px;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
        margin-right: 50px;
        text-align: left;
        margin-top: 0px;
        position: relative;
        text-align: center;
    }
    >.download-box > .download:hover{
        background-color: $leftNavColor;
    }
    >.download-box > .download > .image{
        border-right: 1px solid white;  
        padding: 10px 20px 10px 20px;
    }
    > .download-box > .download > .details{     
        font-size: 15px;
        font-weight: bold;
        margin-top: -10px;    
    }
    >.download-box > .download > .size{       
        font-size: 13px;
        margin-top: 10px;      
    }
    > .more:hover{
        background-color: $leftNavColor;
    }
    > .more{
        width: 100px;
        border: 0px solid transparent;
        margin: 0;
        padding: 0;
        height: 50px;
        background-color: $secondTagsColor;
        color:white;
        font-size: 26px;
        cursor: pointer;
        margin-left: -60px;
        float: right;
        margin-top: -50px;
        border-left: 5px solid #E0E0E0;
        margin-right: 0px;
        position: relative;
    }
}
@media (min-width:1250px){
    .slide{
        > .text{
            width: 350px;
        }
    }
}
@media (max-width:1250px){
    .slide{
        > .text{
            width: auto;
            height: 200px;
            margin-right: 20px;
            overflow: hidden;
            margin-top: -200px;
            margin-left: 330px;
        }
    }
}
@media (max-width:1000px) and (min-width:900px){
    .slide{
        > .text{
            width: auto;
            height: 200px;
            margin-right: 20px;
            overflow: hidden;
            margin-top: -200px;
            margin-left: 280px;
        }
        >.image-box{
            height: 200px;
            width: 250px;
            margin-left: 15px;
            margin-top: 15px;
        }
        > .image-box > .image{
            height: 200px;
            width: 250px;
        }
    }
}
@media (max-width:600px) {
    .slide{
        > .text{
            width: auto;
            height: auto;
            margin-right: 15px;
            margin-top: 0px;
            margin-left: 15px;
            overflow: hidden;
            position: relative;
            margin-top: 10px;
        }
        >.image-box{
            height: 100px;
            width: 150px;
            margin-left: 15px;
            margin-top: 15px;
        }
        > .image-box > .image{
            height: 100px;
            width: 150px;
        }
    }
}
@media (max-width:500px) {
    .slide >.download-box > .download{
        text-align: left;
        padding-left: 15px;
    }
}