.home-box{
    margin-top: 20px;
    padding-left:30px;
    padding-right:30px;
    >.col1{
        height: auto;
        width: 47%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    >.col2{
        height: auto;
        width: 47%;
        margin-left: 6%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    >.col3{
        height: auto;
        width: 47%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    >.col4{
        height: auto;
        width: 47%;
        margin-left: 6%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    >.col5{
        height: auto;
        width: 47%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    >.col6{
        height: auto;
        width: 47%;
        margin-left: 6%;
        float:left;
        background-color: #E0E0E0;
        margin-bottom: 20px;
    }
    > .col1 > .header , .col2 > .header ,.col3 > .header ,.col4 > .header ,.col5 > .header ,.col6 > .header{
        padding-top: 5px;
        background-color: $leftNavColor;
        min-height: 50px;
    }
    > .col1 > .header > .title , .col2 > .header > .title, .col3 > .header > .title , .col6 > .header > .title , .col4 > .header > .title , .col5 > .header > .title{
        line-height: 30px;
        padding-left: 10px;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    > .col1 > .header >.evaluation, .col2 > .header >.evaluation, .col3 > .header >.evaluation , .col6 > .header >.evaluation, .col4 > .header >.evaluation, .col5 > .header >.evaluation{
        width: 90px;
        margin-top: 5px;
        float:right;
        margin-right: 10px;
    }
    > .col1 > .header > .evaluation > .evaluation_point, .col2 > .header > .evaluation > .evaluation_point,
    .col3 > .header > .evaluation > .evaluation_point,.col4 > .header > .evaluation > .evaluation_point,
    .col5 > .header > .evaluation > .evaluation_point,.col6 > .header > .evaluation > .evaluation_point{
        margin-left: 0px;
        margin-right: 0px;
    }
    > .col1 > .header > .evaluation > .evaluation_not , .col2 > .header > .evaluation > .evaluation_not,
    .col3 > .header > .evaluation > .evaluation_not,.col4 > .header > .evaluation > .evaluation_not,
    .col5 > .header > .evaluation > .evaluation_not,.col6 > .header > .evaluation > .evaluation_not{
        margin-left: 0px;
        margin-right: 0px;
    }
    > .col1 > .header > .evaluation > .evaluation_point:before, 
        .col2 > .header > .evaluation > .evaluation_point:before,
        .col4 > .header > .evaluation > .evaluation_point:before,
        .col3 > .header > .evaluation > .evaluation_point:before,
        .col5 > .header > .evaluation > .evaluation_point:before,
        .col6 > .header > .evaluation > .evaluation_point:before{

        font-family: 'FontAwesome';
        color: $mainColor;
        font-size: 14px;
        content: "\f005";
    }
    > .col1 > .header > .evaluation > .evaluation_not:before, .col2 > .header > .evaluation > .evaluation_not:before,
        .col3 > .header > .evaluation > .evaluation_not:before,.col4 > .header > .evaluation > .evaluation_not:before,
        .col5 > .header > .evaluation > .evaluation_not:before,.col6 > .header > .evaluation > .evaluation_not:before{
        font-family: 'FontAwesome';
        color: #E0E0E0;
        font-size: 14px;
        content: "\f005";
    }
    > .col1 > .header > .time, .col2 > .header > .time ,.col3 > .header > .time,
    .col4 > .header > .time,.col5 > .header > .time,.col6 > .header > .time{
        position: absolute;
        padding-left: 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }
    > .col1 > .header > .version, .col2 > .header > .version,.col3 > .header > .version
    ,.col4 > .header > .version,.col5 > .header > .version,.col6 > .header > .version{
        float:right;
        margin-top: 8px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        margin-right: 20px;
        margin-top: 0px;
    }
    > .col1 > .image-box, .col2 > .image-box,.col3 > .image-box
    ,.col4 > .image-box,.col5 > .image-box,.col6 > .image-box{
        max-height: 100px;
        max-width: 100px;
        margin-left: 10px;
        margin-top: 10px;
    }
    > .col1 > .image-box > .image, .col2 > .image-box > .image,.col3 > .image-box > .image
    ,.col4 > .image-box > .image,.col5 > .image-box > .image,.col6 > .image-box > .image{
        max-height: 100px;
    }
    > .col1 > .text,.col2 > .text, .col3 > .text
    , .col4 > .text, .col5 > .text, .col6 > .text{
        margin-left: 10px;
        margin-top: 10px;
        font-size:13px;
        line-height: 140%;
        color: $leftNavColor;
        margin-right: 10px;
    }
    > .col1 > .download-box, .col2 > .download-box,.col3 > .download-box
    ,.col4 > .download-box,.col5 > .download-box,.col6 > .download-box{
        margin-top: 15px;
        float: left;
        width: 100%;
    }
     > .col1 > .download-box > .download:hover, .col2 > .download-box > .download:hover,.col3 > .download-box > .download:hover
    ,.col4 > .download-box > .download:hover,.col5 > .download-box > .download:hover,.col6 > .download-box > .download:hover{
        background-color: $leftNavColor;
    }
    > .col1 > .download-box > .download, .col2 > .download-box > .download, .col3 > .download-box > .download
    , .col4 > .download-box > .download, .col5 > .download-box > .download, .col6 > .download-box > .download{
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0px solid transparent;
        text-align: left;
        height: 50px;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
        margin-right: 50px;
        text-align: left;
        position: absolute;
    }
    > .col1 > .download-box > .download > .image,.col2 > .download-box > .download > .image,
    .col3 > .download-box > .download > .image,.col4 > .download-box > .download > .image,
    .col5 > .download-box > .download > .image,.col6 > .download-box > .download > .image{
        border-right: 1px solid white;  
        padding: 14px 20px 10px 20px;
    }
    > .col1 > .download-box > .download > .details, .col2 > .download-box > .download > .details,
    .col3 > .download-box > .download > .details,.col4 > .download-box > .download > .details,
    .col5 > .download-box > .download > .details,.col6 > .download-box > .download > .details{
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 1px;
        position: absolute;
    }
    > .col1 > .download-box > .download > .size, .col2 > .download-box > .download > .size
    ,.col3 > .download-box > .download > .size,.col4 > .download-box > .download > .size
    ,.col5 > .download-box > .download > .size,.col6 > .download-box > .download > .size{
        padding-left: 15px;
        font-size: 13px;
        margin-top: 18px;
        position: absolute;
    }
    > .col1 > .more:hover, .col2 > .more:hover,.col3 > .more:hover
    ,.col4 > .more:hover,.col5 > .more:hover,.col6 > .more:hover{
        background-color: $leftNavColor
    }
    > .col1 > .more, .col2 > .more,.col3 > .more
    ,.col4 > .more,.col5 > .more,.col6 > .more{
        width: 60px;
        border: 0px solid transparent;
        margin: 0;
        padding: 0;
        height: 50px;
        background-color: $secondTagsColor;
        color:white;
        font-size: 26px;
        cursor: pointer;
        margin-left: -60px;
        float: right;
        margin-top: 15px;
        border-left: 2px solid white;
        z-index: 1;
        position: relative;
    }
     > .col4 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
    > .col3 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
    > .col2 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
    > .col1 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
    > .col5 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
    > .col6 > .download-box > .download > .image > .img{
        padding-top: 5px;
    }
}
.icon3{
    font-family: 'FontAwesome';
    color: $leftNavColor;
    color: white;
    cursor: pointer;
    font-size: 28px;
}
@media (max-width:1100px) {
    .home-box{
        padding-left:25px;
        padding-right:25px;
    }
}
@media (max-width:1000px) and (min-width:901px){
    .home-box{
        >.col1{
            width: 100%;
        }
        >.col2{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        >.col3{
            width: 100%;
            margin-right: 0;
        }
        >.col4{
            margin-left: 0;
            width: 100%;
        }
        >.col5{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        >.col6{
            width: 100%;
            margin-left: 0;
        }
    }
}
@media (max-width:700px){
    .home-box{
        margin-top: 20px;
        padding-left:10px;
        padding-right:10px;
        >.col1{
            height: auto;
            width: 47%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
        >.col2{
            height: auto;
            width: 47%;
            margin-left: 6%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
        >.col3{
            height: auto;
            width: 47%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
        >.col4{
            height: auto;
            width: 47%;
            margin-left: 6%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
        >.col5{
            height: auto;
            width: 47%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
        >.col6{
            height: auto;
            width: 47%;
            margin-left: 6%;
            float:left;
            background-color: #E0E0E0;
            margin-bottom: 20px;
        }
    }
}
@media (max-width:600px){
    .home-box{
        >.col1{
            width: 100%;
        }
        >.col2{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        >.col3{
            width: 100%;
            margin-right: 0;
        }
        >.col4{
            margin-left: 0;
            width: 100%;
        }
        >.col5{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        >.col6{
            width: 100%;
            margin-left: 0;
        }
    }
}