.homeBanner{
    width: 100%;
    margin-bottom: 20px;
    float: left;
    > .banner{
        margin-left: 30px;
        margin-right: 30px;
        height: 90px;
        background-color: $leftNavColor;
    }
    > .banner1{
        margin-left: 0px;
        margin-right: 0px;
        height: 90px;
        background-color: $leftNavColor;
    }
}
@media (max-width:1100px){
    .homeBanner{
        
        > .banner{
            margin-left: 25px;
            margin-right: 25px;
           
        }
    }
}
@media (max-width:700px){
    .homeBanner{
        width: 100%;
        margin-bottom: 20px;
        float: left;
        > .banner{
            margin-left: 10px;
            margin-right: 10px;
            height: 90px;
            background-color: $leftNavColor;
        }
    }
}