.nav-left{
    width: 280px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
    clear: left;

    .nav-list{
        list-style-type: none;
        margin:0;
        padding: 0;
        background-color: $leftNavColor;
        border-bottom: 2px solid white;  
    }
    .nav-list > .nav-element{ 
        padding-top: 15px;
        padding-bottom: 15px;
        //border-right: 40px solid $navTitleColor;
    }
    .nav-list > .nav-element:hover{
        background-color: $mainColor;
        cursor: pointer;
        border-right: 0px solid transparent;
    }
    .nav-list > .nav-element > .nav-text{
        color: white;
        padding-left: 50px;
        font-family: $font;
        font-weight: 400;
        font-size: 14px;
    }
    .nav-list > .nav-titleElem > .nav-title{
        color: white;
        padding-left: 50px;
        font-family: $font;
        font-weight: 400;
        font-size: 18px;
    }
    .nav-list > .nav-titleElem > .menu{
        margin-left: 20px;
        margin-top: 2px;
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .socialIcon-Icon4{
        background-color: #7bcae8;
        height: 63px;
        width: 63px;
        float: right;
        margin-top: -20px;

        > .icon {
            background-image: url('../img/twitter-meni-top.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:12px;
            margin-left: 16px;
            cursor: pointer;
        }
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .text{
        color:white;
        position: absolute;
        margin-left: 35px;
        margin-top: 25px;
        font-size:11px;
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .text1{
        color:white;
        position: absolute;
        margin-left: 98px;
        margin-top: 25px;
        font-size:11px;
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .socialIcon-Icon5{
        background-color: #5274b3;
        height: 63px;
        width: 63px;
        float: right;
        margin-top: -20px;
        margin-right: 3px;

        > .icon {
            background-image: url('../img/facebook-meni-top.png');
            background-repeat: no-repeat;
            height: 45px;
            width: 45px;
            margin-top:12px;
            margin-left: 16px;
            cursor: pointer;
        }
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .socialIcon-Icon4:hover{
        background-color: #4e5462;
    }
    .nav-list > .nav-titleElem > .socialIcon-Element > .socialIcon-Icon5:hover{
        background-color: #4e5462;
    }
    .nav-list > .nav-titleElem {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $leftNavColor;
    }
    .nav-list > .nav-element > .navCounter{
        width: 40px;
        height: 18px;
        background-color: $navCounterColor;
        border-radius: 20px;
        margin-top: -1px;
        color: $leftNavColor;
        font-size: 14px;
        text-align: center;
        padding-top: 3px;
        position: absolute;
        left: 220px;
    }
}
.icon8{
    font-family: 'FontAwesome';
    color: black;
    position: absolute;
    margin-left: 15px;
    font-size: 22px;
    margin-top: 31px;
}
.icon{
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    margin-left: 15px;
    font-size: 20px;
}
.icon9{
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    margin-left: 0px;
    font-size: 22px;
    margin-top: 1px;
}
.icon7{
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}
.icon1{
    font-family: 'FontAwesome';
    color: $leftNavColor;
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 28px;
}
.menu1{
    position: relative;
    margin-top: -35px;
    color: $leftNavColor;
    cursor: pointer;
}
.menu2{
    float:right;
    position: relative;
    margin-top: -38px;
    color: $leftNavColor;
    cursor: pointer;
}
.home{
    height: 22px;
    width: 22px;
    margin-top:-2px;
    background-image: url('../img/home-ikona.png');
}
.android{
    height: 20px;
    width: 20px;
    background-image: url('../img/android-ikona.png');
}
.headset{
    height: 20px;
    width: 20px;
    background-image: url('../img/audio-ikona.png');
}
.desktop{
    height: 20px;
    width: 20px;
    background-image: url('../img/desktop-ikona.png');
}
.graphic{
    height: 20px;
    width: 20px;
    background-image: url('../img/grafika-ikona.png');
}
.game{
    height: 20px;
    width: 20px;
    background-image: url('../img/igre-ikona.png');
}
.internet{
    height: 20px;
    width: 20px;
    background-image: url('../img/internet-ikona.png');
}
.communication{
    height: 20px;
    width: 20px;
    background-image: url('../img/komunikacija-ikona.png');
}
.programming{
    height: 20px;
    width: 20px;
    background-image: url('../img/programiranje-ikona.png');
}
.security{
    height: 20px;
    width: 20px;
    background-image: url('../img/sigurnost-ikona.png');
}
.sistem{
    height: 20px;
    width: 20px;
    background-image: url('../img/sistemski-ikona.png');
}
.tools{
    height: 20px;
    width: 20px;
    background-image: url('../img/uredski-ikona.png');
}
.service{
    height: 20px;
    width: 20px;
    background-image: url('../img/usluzni-iokna.png');
}
.apple:before{
    content: "\f179";
}
.apple{
    margin-left: 20px;
}
.linux{
    height: 20px;
    width: 20px;
    background-image: url('../img/linux-ikona.png');;
}
.menu:before{
    content: "\f0c9";
}
.menu1:before{
    content: "\f0c9";
}
.menu2:before{
    content: "\f0c9";
}
.croware{
    height: 20px;
    width: 20px;
    background-image: url('../img/croware-ikona.png');
}
.chat{
    height: 30px;
    width: 33px;
    position: absolute;
    margin-top: -57px;
    margin-left: 230px;
    background-image: url('../img/pitanja-ikona.png');
}

@media (max-width:1100px){
    .nav-left{
        margin-left: 0px;
        margin-top: 26px;
    }
}
@media (max-width:900px){
    .nav-left{
        margin-left: -300px;
        margin-top: 0px;
    }
    .openLeft{
        margin-left: 300px;
    }
    .closeLeft{
        margin-right: -300px;
    }
}
@media (max-width:700px){
    .icon1{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width:400px){
    .menu1{
        position: relative;
        margin-top: -40px;
        color: $leftNavColor;
    }
    .menu2{
        float:right;
        position: relative;
        margin-top: -34px;
        color: $leftNavColor;
    }
}