.leftLogo-boxSmall{
    height: 50px;
    width: 160px;
    margin-left: 50px;
    background-color: $leftNavColor;
    margin-right: -330px;
    margin: auto;
    margin-top: -40px;
    > .logo{
        margin-top: 1px;
        height: 50px;
        margin-left: 5px;
        width: 150px;
        margin-right: -330px;
    }
}
@media (max-width:400px){
    .leftLogo-boxSmall{
        height: 40px;
        width: 130px;
        margin-left: 50px;
        background-color: $leftNavColor;
        margin-right: -330px;
        margin: auto;
        margin-top: -35px;
        > .logo{
            margin-top: 1px;
            height: 40px;
            margin-left: 0px;
            width: 130px;
            margin-right: -330px;
        }
    }
}
