.leftLogo-box{
    height: 130px;
    width: 280px;
    margin-left: 50px;
    background-color: $leftNavColor;
    float: left;
    margin-right: -330px;
    clear: left;
    margin-top: 50px;
    > .logo{
        margin-top: 25px;
        height: 80px;
        width: 219px;
        margin-left: 30px;
        margin-right: -330px;
    }
}
#aa{
    float: right;
    width: 100%;
    margin-left: -200px;

}
#bb{
    margin-left: 200px;
}
#cc{
    float: left;
    width: 200px;

}
#ee{
    float: left;
    width: 200px;
    clear:left;

}

div#wrapper{float:right;width:100%;margin-left:-200px}
div#navigation{float:left;width:200px}
div#extra{float:left;clear:left;width:200px}

@media (max-width:1230px){
    .leftLogo-box{
        margin-left: 0px;
        margin-top: 200px;
       
    }
}
@media (max-width:900px){
    .leftLogo-box{
        display: none;
    }
}