.mainFooter-box{
    height: 350px;
    margin-top: 20px;
    float:left;
    width: 100%;

    > .footerList{
        background-color: #D8D8D8   ;
        margin-right: 50px;
        margin-left: 50px;
        height: 350px;
    }
    > .footerList > .col1{
        width: 25%;
        float:left;
    }
    .title{
        color: $mainColor;
        padding-left: 20px;
        font-size: 22px;
    }
    > .footerList > .col1 > .title{
        @extend .title;
    }
    > .footerList > .col1 > .linkList{
        list-style-type: none;
        margin: 0;
        padding:0;
        padding-left: 20px;
        margin-top: 30px;
    }
    > .footerList > .col1 > .linkList > .linkItem{
        color: $leftNavColor;
        padding-bottom: 10px;
        font-size: 14px;
    }
    > .footerList > .col1 > .linkList > .linkItem > a{
        text-decoration: none;
        color: $leftNavColor;
    }

    > .footerList > .col2{
        width: 25%;
        float:left;
    }
    > .footerList > .col2 > .title{
        @extend .title;
    }
    > .footerList > .col2 > .image{
        background-image: url('');
        background-repeat: no-repeat;
    }

    > .footerList > .col3{
        width: 25%;
        float:left;
    }
    > .footerList > .col3 > .title{
        @extend .title;
    }

    > .footerList > .col4{
        width: 25%;
        float:left;
    }
    > .footerList > .col4 > .title{
        @extend .title;
    }
    > .footerList > .col4 > .statisticList{
        list-style-type: none;
        margin: 0;
        padding:0;
        padding-left: 20px;
        margin-top: 25px;
    }
    > .footerList > .col4 > .statisticList > .statisticItem{
        padding-bottom: 3px;
        color: $leftNavColor;
        font-size: 15px;
    }
    > .footerList > .col4 > .image{
        background-image: url('../img/logo-dolje-desno.png');
        margin-top: 20px;   
        height: 100px;
        width: 230px;
        background-repeat: no-repeat;
        margin-left: 15px;
    }
    .twitter-text{
        font-size: 14px;
        color: $leftNavColor;
        padding-left: 40px;
        margin-top: 25px;
        line-height: 150%;
        padding-right: 25px;
    }
    .twitter-text > .twitter-quotes{
        font-size: 36px;
        color: $leftNavColor;
        font-weight: bold;
        font-style: italic;
        margin-left: -22px;
    }
}
@media (max-width:1250px){
    .mainFooter-box{
        height: auto;
        margin-top: 100px;
        
        > .footerList{
            height: auto;
            margin-left: 0px;
            margin-right: 0px;
        }
        > .footerList > .col1{
            display:none;
        }
        > .footerList > .col2{
            display:none;
        }
        > .footerList > .col3{
            display:none;
        }
        > .footerList > .col4{
            display:none;
        }
        .copyright-box > .text-box{
           margin-left: 0;
           margin-right: 0;
        }
    }
}
