.mainHeader-box{
    height: 130px;
    background-color: white;
    margin-left: 350px;
    margin-top: 0px;
    margin-right: 50px;
}
@media (max-width:1230px){
    .mainHeader-box{
        margin-left: 0px;
        margin-right: 0px;
        height:130px;
    }
}
@media (max-width:900px){
    .mainHeader-box{
        height: auto;
    }
}