.mainContent-box{
    background-color: white;
    margin-left: 350px;
    margin-right: 50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 1768px;
    overflow: hidden;
}
@media (max-width:1100px){
    .mainContent-box{
        margin-left: 300px;
        margin-right: 0px;
        min-height: 1923px;
    }
}
@media (max-width:900px){
    .mainContent-box{
        position: relative;
        margin-top: -245px;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 1400px;
    }
    .openMenu{
        margin-top: 20px;
        -webkit-transition: all 2s; /* Safari */
        transition: all 2s;
    }
    .closeMenu{
        margin-top: -245px;
        -webkit-transition: all 2s; /* Safari */
        transition: all 2s;
    }
}