.mainSlider {
    margin-top: 0px;
    overflow: hidden;
    visibility: hidden;
    background-color: #E0E0E0;
    margin-bottom:20px;
    border-bottom: 0 solid transparent;

    > .slide{

    }
    > .swipe-wrap {
        overflow: hidden;
        position: relative;
    }
    > .swipe-wrap > div {
        float:left;
        width:100%;
        position: relative;
    }
    > .swipe-wrap > div > .photos {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        border-radius: 0;
    }
    > .swipe-wrap > div > .text-box {
        overflow: auto;
        width: 100%;
        height: auto;
        position: absolute;
        background-color: rgba(208, 65, 68, 0.8);
        border-radius: 3px;
        bottom: 4px;
    }
    > .swipe-wrap > div > .text-box > .text{
        padding: 20px 30px 20px 30px;
        margin: 0;
    }
    .counter {
        margin-top: -25px;
        height: 55px;
        ul {
            text-align: center;
            padding-left:0;
            li {
                display: inline-block;
                height: 15px;
                width: 15px;

                border-radius: 15px;
                background-color: white;
                margin: 5px 5px 0 5px;
                &.on {
                    background-color: $mainColor;
                }
            }
        }
    }
}
@media (max-width:1000px){
    .mainSlider {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width:700px){
    .mainSlider {
        margin-top: 0px;
        overflow: hidden;
        visibility: hidden;
        background-color: #E0E0E0;
        margin-bottom:20px;
        border-bottom: 0 solid transparent;

        > .slide{

        }
        > .swipe-wrap {
            overflow: hidden;
            position: relative;
        }
        > .swipe-wrap > div {
            float:left;
            width:100%;
            position: relative;
        }
        > .swipe-wrap > div > .photos {
            width: 100%;
            margin: 0;
            padding: 0;
            height: auto;
            border-radius: 0;
        }
        > .swipe-wrap > div > .text-box {
            overflow: auto;
            width: 100%;
            height: auto;
            position: absolute;
            background-color: rgba(208, 65, 68, 0.8);
            border-radius: 3px;
            bottom: 4px;
        }
        > .swipe-wrap > div > .text-box > .text{
            padding: 20px 30px 20px 30px;
            margin: 0;
        }
        .counter {
            margin-top: -25px;
            height: 55px;
            ul {
                text-align: center;
                padding-left:0;
                li {
                    display: inline-block;
                    height: 15px;
                    width: 15px;

                    border-radius: 15px;
                    background-color: white;
                    margin: 5px 5px 0 5px;
                    &.on {
                        background-color: $mainColor;
                    }
                }
            }
        }
    }
}