.mainSearch{
    margin-right: 300px;
    margin-left: 30px;
    margin-top:20px;
    text-align: right;

    > .input{
        width: 100%;
        margin-right: 330px;
        height: 35px;
        border: 0 solid transparent;
        background-color: #f0f1f3;
        color: white;
        cursor: pointer;
        padding-left: 10px;
    }
    > .input:focus{
        background-color: $leftNavColor;
        border: 0px white solid;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    > .button{
        position: absolute;
        margin-top: -37px;  
        height: 37px;
        width: 50px;   
        margin-left: 0;
        background-color: $questionColor;
        border: 1px solid $questionColor;
        cursor: pointer;
    }
    > .button > .icon{
        cursor: pointer;
        margin-top: -12px;
        margin-left: -13px;
        width: 100%;
        height: 35px;
        background-image: url('../img/search-ikona.png');
        background-repeat: no-repeat;
    }
    ::-webkit-input-placeholder { 
        font-size: 13px;
        padding: 0 0 0 10px;
    }
}
@media (max-width:900px){
    .mainSearch{
        display: none;
    }
}
