.menuNav{
    width: 100%;
    height: 130px;
    background-color: white;
    display: none;
    
    >.menu:before{
        content: "\f0c9";
        color: $leftNavColor;
        line-height: 90px;
        font-size: 30px;
    }
    > .menu{
        position: relative;
        float:right;
        margin-right: 20px;
    }
    >.top:before{
        content: "\f0c9";
        color: $leftNavColor;
        line-height: 90px;
        font-size: 30px;
    }
    > .top{
        position: relative;
        float:left;
        margin-left: 20px;
    }
}

@media (max-width:900px){
    .menuNav{
        display: block;
    }
}