.myList{
    height: 50px;
    float: right;
    color:white;
    width: 200px;
    margin-top: -50px;
    background-color: $leftNavColor;

    > .title{
        position: absolute;
        font-size: 18px;
        line-height: 70%;
        padding-top: 10px;
        padding-left: 10px;
    }
    > .text{
        line-height: 230%;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    > .number{
        font-size: 14px;
    }
}
.plus{
    color: white;
    font-size: 20px;
    background-color: $secondTagsColor;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    border: 5px solid $secondTagsColor;
    position: relative;   
    float: right;
    margin-top: -50px;
    margin-right: 15px;
    padding-left: 7px;
    padding-right: 7px;
}
@media (max-width:900px){
    .myList{
        display: none;
    }
}