.myListSmall{
    height: 50px;
    float: right;
    color:white;
    width: 200px;
    margin-top: -50px;
    background-color: $leftNavColor;

    > .title{
        position: absolute;
        font-size: 18px;
        line-height: 70%;
        padding-top: 10px;
        padding-left: 10px;
    }
    > .text{
        line-height: 230%;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
    > .number{
        font-size: 14px;
    }
    > .plus{
        color: white;
        font-size: 30px;
        position: absolute;
        background-color: $mainColor;
        font-weight: bold;
        padding: 0 10px 0 10px;
        margin-top: -18px;
        cursor: pointer;
        border: 0 solid transparent;
        margin-left: 30px;
    }
}
@media (max-width:600px){
    .myListSmall{
        display: none;
    }
    .plus{
        display: none;
    }
}