.news-box{
    width: 280px;
    margin-top: 15px;
    
    > .question-title{
        background-color: $questionColor;
        font-size: 16px;
        padding: 15px 0 15px 45px;
    }
    > .question-list{
        list-style: square;
        color: white;
        font-size: 22px;
        margin:0;
        padding:0;
        list-style-position: inside; 
        background-color: $mainColor;
        margin-top: -12px;
    }
    > .question-list > .question-item{
       border-bottom: 1px solid white;
       width: 265px;
       margin:0;
       padding:0;
       padding-bottom: 15px;
       padding-top: 10px;   
       padding-left: 15px;
    }
    > .question-list > .question-item:hover{
        background-color: $leftNavColor;
        cursor: pointer;
    }
    > .question-list > .question-item > .question-text{
       color: white;
       font-size: 12px;
       
    }
    > .icon{
        margin-top: 20px;
        color: black;
        padding-left: 5px;
    }
    
}