.recommendation-box{
    width: 280px;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    position: relative;
    clear: left;
    
    > .recommendation-title{
        background-color: #C8C8C8;
        font-size: 22px;
        padding: 15px 0 15px 45px;
    }
    > .recommendation-list{
        list-style: square;
        color: white;
        font-size: 22px;
        margin:0;
        padding:0;
        list-style-position: inside; 
        background-color: $mainColor;
        margin-top: -12px;     
    }
    > .recommendation-list > .recommendation-item{
       border-bottom: 1px solid white;
       width: 265px;
       margin:0;
       padding:0;
       padding-bottom: 15px;
       padding-top: 10px;   
       padding-left: 15px;  
    }
    > .recommendation-list > .recommendation-item:hover{
        background-color: $leftNavColor;
        cursor: pointer;
    }
    > .recommendation-list > .recommendation-item > .recommendation-text{
       color: white;
       font-size: 12px;
    }
    > .icon{
        margin-top: 33px;
        color: black;
        padding-left: 5px;
    }
}
@media (max-width:1100px){
    .recommendation-box{
        margin-left: 0px;
    }
}
@media (max-width:900px){
    .recommendation-box{
        margin-left: -300px;
    }
}