.sendMessage-box{
    margin-right: 30px;
    margin-left: 30px;
    background-color: $footerColor;

    > .title{
        background-color: $messageTitleColor;
        color: $leftNavColor;
        font-size: 17px;
        font-weight: 300;
        padding-left: 20px;
        padding-right:20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    > .cost{
        padding-left: 20px;
        color: $mainColor;
        font-size: 32px;
        margin-bottom: 20px;
    }
    > .message{
        padding-left: 20px;
        line-height: 180%;
        padding-right: 20px;
        color: $messageButtonColor;
    }
    > .button{
        margin-left: 20px;
        color: white;
        border: 0 solid transparent;
        background-color: $messageButtonColor;
        padding: 20px 15px 20px 15px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    > .button:hover{
        background-color: $leftNavColor;
    }
}
@media (max-width:1100px){
    .sendMessage-box{
        margin-right: 25px;
        margin-left: 25px;
    }
}
@media (max-width:700px){
    .sendMessage-box{
        margin-right: 10px;
        margin-left: 10px;
        background-color: $footerColor;

        > .title{
            background-color: $messageTitleColor;
            color: $leftNavColor;
            font-size: 17px;
            font-weight: 300;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        > .cost{
            padding-left: 20px;
            color: $mainColor;
            font-size: 32px;
            margin-bottom: 20px;
        }
        > .message{
            padding-left: 20px;
            line-height: 180%;
            color: $messageButtonColor;
        }
        > .button{
            margin-left: 20px;
            color: white;
            border: 0 solid transparent;
            background-color: $messageButtonColor;
            padding: 20px 15px 20px 15px;
            margin-bottom: 30px;
            cursor: pointer;
        }
    }

}