.tag-box{
    width: 280px;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    background-color: $leftNavColor;
    height: 350px;
    clear: left;
    
    > .btn1:hover{
        background-color: #4e5462;
    }
    > .btn2:hover{
        background-color: #4e5462;
    }
    > .btn3:hover{
        background-color: #4e5462;
    }
    > .btn4:hover{
        background-color: #4e5462;
    }
    > .btn5:hover{
        background-color: #4e5462;
    }
    > .btn6:hover{
        background-color: #4e5462;
    }
    > .btn7:hover{
        background-color: #4e5462;
    }
    > .btn8:hover{
        background-color: #4e5462;
    }
    > .btn9:hover{
        background-color: #4e5462;
    }
    > .btn10:hover{
        background-color: #4e5462;
    }
    > .btn11:hover{
        background-color: #4e5462;
    }
    > .btn12:hover{
        background-color: #4e5462;
    }
    > .btn13:hover{
        background-color: #4e5462;
    }
    > .btn1{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 26px;
        position: absolute;
        margin-top: 40px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn2{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 20px;
        position: absolute;
        margin-top: 45px;
        margin-left: 140px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn3{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 16px;
        position: absolute;
        margin-top: 83px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn4{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 20px;
        position: absolute;
        margin-top: 82px;
        margin-left: 130px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn5{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 16px;
        position: absolute;
        margin-top: 112px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn6{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 18px;
        position: absolute;
        margin-top: 119px;
        margin-left: 120px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn7{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 24px;
        position: absolute;
        margin-top: 142px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn8{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 16px;
        position: absolute;
        margin-top: 182px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn9{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 30px;
        position: absolute;
        margin-top: 155px;
        margin-left: 120px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn10{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 20px;
        position: absolute;
        margin-top: 210px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn11{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 20px;
        position: absolute;
        margin-top: 202px;
        margin-left: 170px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn12{
        background-color: $secondTagsColor;
        border:0px;
        color: white;
        font-size: 16px;
        position: absolute;
        margin-top: 245px;
        margin-left: 50px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .btn13{
        background-color: $tagsColor;
        border:0px;
        color: white;
        font-size: 24px;
        position: absolute;
        margin-top: 245px;
        margin-left: 140px;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
    }
    > .title{
        font-size: 20px;
        margin-bottom: -20px;
        padding-left: 15px;
        color:white;
    }
    > .topPrograms{
        position: absolute;
        margin-top: 300px;
        padding-left: 15px;
        color:white;
        font-size: 16px;
    }
    > .image{
        
    }
}
@media (max-width:1100px){
    .tag-box{
        margin-left: 0px;
    }
}
@media (max-width:900px){
    .tag-box{
        margin-left: -300px;
    }
}