.topTitle-box{
    width: 100%;
    margin-bottom: 20px;
    > .title-box{
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $questionColor;
    }
    > .title-box > .icon{
        margin-top: 2px;
        margin-left: 0px;
    }
    > .title-box > .title{
        color: white;
        padding-left: 30px;
        padding-right: 50px;
        line-height: 150%;
        font-size: 17px;
    }
}
@media (max-width:1100px){
    .topTitle-box{
   
    > .title-box{
        margin-left: 25px;
        margin-right: 25px;
       } 
    }
}
@media (max-width:700px){
    .topTitle-box{
   
    > .title-box{
        margin-left: 10px;
        margin-right: 10px;
       } 
    }
}