.topAddSense{
    width: 100%;
    
    > .addSense{
        margin-left: 30px;
        margin-right: 30px;
        height: 40px;
        background-color: $leftNavColor;
        margin-bottom: 20px;
    }
}
@media (max-width:1100px){
    .topAddSense{
    width: 100%;
    
    > .addSense{
        margin-left: 25px;
        margin-right: 25px;
        height: 40px;
        background-color: $leftNavColor;
        margin-bottom: 20px;
    }
}
}
@media (max-width:700px){
    .topAddSense{
    width: 100%;
    
    > .addSense{
        margin-left: 10px;
        margin-right: 10px;
        height: 40px;
        background-color: $leftNavColor;
        margin-bottom: 20px;
    }
}
}