.topFooterSmall{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 60px;
    display: none;
    > .line{
        border: 0px;
        height: 5px;
        background-color: $leftNavColor;
    }
}
@media (max-width:900px){
    .topFooterSmall{
        display: block;
    }
}
