.topBanner{
    width: 100%;
    
    > .banner{
        margin-left: 30px;
        margin-right: 30px;
        height: 90px;
        background-color: $leftNavColor;
    }
}
@media (max-width:1100px){
    .topBanner > .banner{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width:700px){
    .topBanner{
    width: 100%;
    
    > .banner{
        margin-left: 10px;
        margin-right: 10px;
        height: 90px;
        background-color: $leftNavColor;
    }
}
}