.topNav{
    text-align: left;
    height:50px;
    border-bottom: 5px solid $leftNavColor;

    > .nav-list{
        display: inline;
        margin: 0;
        padding:0;
        margin-left: 30px;
    }
    > .nav-list > .nav-element{
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: -10px;
        margin-right: -4px;
        color: $leftNavColor;
        margin-top: 4px;
        height: 21px;
        padding-top: 18px;
    }
    > .nav-list > .nav-element-photo{
        display: inline-block;
        position: relative;
        top: -5px;
        margin-left: -6px;
        margin-right: 0px;
        padding: 19px 0px 19px 0px;
        color: $leftNavColor;
    }
    > .nav-list > .-first{
        margin-left: -30px;
    }
    > .nav-list > .nav-element > .nav-text{
        font-size: 15px;
        border-right-width: 1px;
        border-right-color: $leftNavColor;
        border-right-style: dotted;
        padding: 0px 30px 0px 30px;
        
        margin-left: 0px;
    }
    > .nav-list > .nav-element:hover{
        color: white;
        background-color: $leftNavColor;
        cursor: pointer;
        padding-bottom: 12px;
        border-bottom: 5px solid $mainColor;
    }
    > .nav-list > .nav-element > .nav-text:hover{

    }
    > .nav-list > .nav-element-photo > .nav-img{
        margin-top: 5px;
        position: absolute;
        margin-left: 25px;
        width: 100px;
        height: 30px;
    }
    > .nav-list > .nav-element-photo > .nav-img > .img{
        width: 100px;
        height: 30px;

    }
}
.dropbtn {
    background-color: #eaeaea;
    position: absolute;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -19px;
    width: 55px;
    > .img{
        margin-top: 3px;
        margin-left: -20px;
    }
    > .open:before {
        margin-top: -5px;
        content: "\f0d7";
    }
    > .open{
        border-left: 2px solid white;
        padding-left: 5px;
        margin-left: 5px;
        margin-top: -1px;
        position: absolute;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.icon6{
    font-family: 'FontAwesome';
    color: $leftNavColor;
    cursor: pointer;
    font-size: 14px;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-top: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;

}
a:link{
    
    outline: none;
    text-decoration: none;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: $mainColor;
}
@media (max-width:900px){
    .topNav{
        height: 245px;
        background-color: white;
        margin-top: 175px;
        border:0;

        > .nav-list{
            display: block;
            margin-left: 0px;
        }
        > .nav-list > .nav-element{
            display: block;
            color: $leftNavColor;
            margin-right: 0px;
        }
        > .nav-list > .nav-element-photo{
            display: block;
        }
        > .nav-list > .nav-element{
            text-align: center;
            margin-left: 0px;
            border-right: 0px;
            margin-top: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            top: 0px;
        }
        .nav-list > .-first{
            margin-top: 5px;
            margin-left: 0px;
        }
        > .nav-list > .nav-element > .nav-text{
            border-right-width: 0px;
        }
        > .nav-list > .nav-element:hover{
            color: white;
            background-color: $leftNavColor;
            cursor: pointer;
            padding: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 0px solid $mainColor;
        }
    }
    .dropdown {
        position: absolute;
        display: inline-block;
        z-index: 2;
        top: 0;
        margin-top: -505px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-left: 30px;
        margin-top: 5px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;

    }

    .dropdown-content a:hover {background-color: #f1f1f1}

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: $mainColor;
    }
}
@media (max-width:400px){
    .topNav{
        background-color: white;
        margin-top: 165px;
        border-bottom: 0px solid white;
    }
}