.topHeader{
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;

    > .box{
        background-color: $leftNavColor;
        margin-left: 50px;
        margin-right: 50px;
        height: 30px;
    }
    > .box > .signIn{
        float:right;
        cursor: pointer;
        color: white;
        margin-left: -20px;
        margin-right: 30px;
        margin-top: 6px;
    }
    > .box > .registration{
        float:right;
        margin-left: 80px;
        margin-right: 100px;
        cursor: pointer;
        color: white;
        margin-top: 6px;
    }
    > .box > .signIn > .text{
        position: absolute;
        font-size: 14px;
        margin-top: 1px;
    }
    > .box > .registration:hover{
        color: $mainColor;
    }
    > .box > .signIn:hover{
        color: $mainColor;
    }
    > .box > .registration > .text{
        font-size: 14px;
        position: absolute;
        margin-top: 1px;
        margin-left: 5px;
    } 
    > .box > .signIn > .image{
        margin-left: -25px;
    }
    > .box > .registration > .image{
        margin-left: -25px;
    }
    > .box > .signIn > .image:before{
        content:"\f007";
    }
    > .box > .registration > .image:before{
        content:"\f234";
    }

}
.icon5{
    font-family: 'FontAwesome';
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
}
@media (max-width:1230px){
    .topHeader{

        > .box{
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}
@media (max-width:900px){
    .topHeader > .box > .registration{
        margin-right: 105px;
    }
    .topHeader{
        margin-bottom: 0px;
    }
}
@media (max-width:700px){
    .topHeader > .box > .registration{
        margin-right: 95px;
    }
}
@media (max-width:400px){
    .topHeader{
        > .box > .registration{
            margin-left: 50px;
        }
    }
}