.warningText-box{
    margin: 30px;
    margin-top:50px;
    margin-bottom: 50px;

    > .text{
        color: $leftNavColor;
        font-size: 16px;
        line-height: 130%;
        font-weight: bold;
    }
}
@media (max-width:1100px){
    .warningText-box{
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media (max-width:700px){
    .warningText-box{
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 50px;

        > .text{
            color: $leftNavColor;
            font-size: 16px;
            line-height: 130%;
            font-weight: bold;
        }
    }

}
@media (max-width:560px){
    .warningText-box{
        margin: 10px;
        margin-top: 110px;
        margin-bottom: 50px;

        > .text{
            color: $leftNavColor;
            font-size: 16px;
            line-height: 130%;
            font-weight: bold;
        }
    }

}