// COLOR

$leftNavColor: #333333;
$topNavColor: white;
$mainColor: #00acee;
$navTitleColor: #00acee;
$navCounterColor: white;
$questionColor: #95b52e;
$tagsColor: #00acee;
$secondTagsColor: #83d9f7;
$footerTitleColor: #f8674a;
$footerLinkColor: #4e5462;
$font: 'Source Sans Pro', sans-serif;
$footerColor: #C8C8C8;
$messageTitleColor: #ecce43;
$messageButtonColor: #22ab59;

@import "mainHeader.scss";
@import "leftNav.scss";
@import "topFooterSmall.scss";
@import "topNav.scss";
@import "leftLogo.scss";
@import "leftLogoSmall.scss";
@import "contentBox.scss";
@import "myList.scss";
@import "myListSmall.scss";
@import "mainSearch.scss";
@import "mainSearchSmall.scss";
@import "question.scss";
@import "recommendation.scss";
@import "tags.scss";
@import "mainFooter.scss";
@import "copyright.scss";
@import "footerSocialIcons.scss";
@import "mainContentBox.scss";
@import "addSoftverForm.scss";
@import "topBanner.scss";
@import "addTitle.scss";
@import "sendMessage.scss";
@import "warningBox.scss";
@import "bottomBanner.scss";
@import "detailsTitle.scss";
@import "detailsBox.scss";
@import "detailsBanner.scss";
@import "newsBanner.scss";
@import "evaluationBox.scss";
@import "homeBox.scss";
@import "homeBanner.scss";
@import "mainSlider.scss";
@import "homeHeader.scss";
@import "homeSlider.scss";
@import "topAddSense.scss";
@import "downloadTitle.scss";
@import "downloadAddSense.scss";
@import "downloadBox.scss";
@import "topTitleBox.scss";
@import "menuNav.scss";
@import "topHeader.scss";

body{
    background-color: #eaeaea;
    font-family: 'Arial';
    margin-top:0;
}
@media (max-width:900px){
    body{
        width:100%;
        position: absolute;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        -webkit-transition: all 2s;
        transition: all 2s;
    }
}