<h2>{{ST:create_achievement}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}achievement_new.php" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ST:name}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="{{ST:name}}" name="name" value="{{ID:name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{ST:description}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="description" placeholder="{{ST:description}}" name="description" value="{{ID:description}}">
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">{{ST:type}}</label>
                <div class="col-sm-5">
                    <select class="form-control" name="type" id="type">
                        <option value="">{{ST:select}}</option>
                        <option {{ID:all_posts_selected}} value="all_posts">{{ST:all_posts}}</option>
                        <option {{ID:started_threads_selected}} value="started_threads">{{ST:started_threads}}</option>
                        <option {{ID:replies_selected}} value="replies">{{ST:replies}}</option>
                        <option {{ID:membership_time_selected}} value="membership_time">{{ST:membership_time}}</option>
                        <option {{ID:manual_assign_selected}} value="manual_assign">{{ST:manual_assign}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ST:range}}</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control numeric_field" name="starting" value="{{ID:starting}}" id="starting" placeholder="{{ST:from}}">
                </div>
                <div class="col-sm-2 col-md-offset-1">
                    <input type="text" class="form-control numeric_field" name="ending" value="{{ID:ending}}" id="ending" placeholder="{{ST:_to}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ST:icon}} (32x32: png,jpg,gif)</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly placeholder="{{ST:icon}} (32x32: png,jpg,gif)">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							<span class="glyphicon glyphicon-camera"></span> <input type="file" id="icon" name="icon">
						</span>
					</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ID:current_icon}}
                </div>
            </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:save}}</button>
        </div>
    </div>
    </form>
</div>
</div>
