<h1>{{ST:achievements}} <a class="btn btn-info btn-sm" href="{{ID:base_url}}achievement_new.php"><span class="glyphicon glyphicon-plus-sign"></span>  {{ST:create_achievement}}</a></h1>
<br/>
<div class="row">
<div class="col-md-12">
<table class="table table-bordered">
<thead>
<tr>
<th>{{ST:name}}</th>
<th>{{ST:type}}</th>
<th>{{ST:icon}}</th>
<th>{{ST:range}}</th>
</tr>
</thead>
<tbody>
{{ID:rows}}
</tbody>
</table>
{{ID:pagination}}
</div>
</div>
