<div class="row">
    <div class="[ col-md-12 ]">
        <div class="[ panel panel-default ] panel-google-plus {{ID:question-panel}}">

            <div class="panel-heading">
                <a class="[ pull-left ]" href="{{ID:path_to_profile}}"><img src="{{ID:base_url}}php/timthumb.php?src={{ID:user_photo}}&w=46&h=46" alt="{{ID:user_name}}" /></a>
                <h3><a href="{{ID:path_to_profile}}">{{ID:user_name}}</a> {{ID:is_admin}} <a {{ID:display_badges}} data-trigger="focus" id="badges_{{ID:id}}" href="javascript:"><img src="{{ID:base_url}}img/badges.png"></a></h3>
                <h5><span>{{ID:date}}</span> </h5>
            </div>
            <div class="panel-body">
                <h3>{{ID:title}}</h3>
                <div>{{ID:post}}</div>
                {{ID:files}}
            </div>
            <div class="panel-footer">
                <a class="btn btn-info btn-sm" href="{{ID:base_url}}approve.php?id={{ID:id}}&page={{ID:page}}&approve=1">{{ST:approve}}</a>
                <a class="btn btn-danger btn-sm" onclick="return confirm('{{ST:are_you_sure_delete}}');" href="{{ID:base_url}}approve.php?id={{ID:id}}&page={{ID:page}}&delete=1">{{ST:delete}}</a>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#badges_{{ID:id}}').popover({'html': true, 'placement': 'right', title: '{{ST:badges}}', content: '{{ID:user_badges}}'});
</script>
