<!-- categories.html:Start -->
<h2>{{ID:title}}</h2>
{{ID:alert}}
<br/>
<div class="row">
<div class="col-md-4">
<form method="post" action="{{ID:base_url}}categories.php">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ST:category_name}}" name="name" value="{{ID:name}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ST:description}}" name="description" value="{{ID:description}}">
    </div>
    <div class="form-group">
        <select class="form-control" name="parent" id="parent">
            <option value="0" {{ID:selected_category_0}}>{{ST:select_parent_category}}</option>
            {{ID:categories}}
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ST:order}}" name="order_by" value="{{ID:order_by}}">
    </div>
    <div class="form-group">
        <input type="checkbox" value="1" name="locked"  {{ID:locked_state}}/> {{ST:lock_so_only_admin_can_post}}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" name="submit">{{ST:add_new_category}}</button>
        <button class="btn btn-default" type="reset">{{ST:reset}}</button>
    </div>
</form>
</div>
<div class="col-md-8">
<table class="table table-bordered">
<thead>
<tr>
<th>{{ST:name}}</th>
<th width="80px;">{{ST:order}}</th>
<th width="80px;">{{ST:threads}}</th>
</tr>
</thead>
<tbody>
{{ID:rows}}
</tbody>
</table>
{{ID:pagination}}
</div>
</div>
<!-- categories.html:End -->