<!-- category.html:Start -->
<h2>{{ST:edit_forum}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}category.php?id={{ID:id}}">

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ST:name}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="{{ST:name}}" name="name" value="{{ID:name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">{{ST:description}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="description" placeholder="{{ST:description}}" name="description" value="{{ID:description}}">
                </div>
            </div>

            <div class="form-group">
                <label for="parent" class="col-sm-3 control-label">{{ST:parent_category}}</label>
                <div class="col-sm-5">
                    <select class="form-control" name="parent" id="parent">
                        <option value="0" {{ID:selected_category_0}}>{{ST:none}}</option>
                        {{ID:categories}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="order" class="col-sm-3 control-label">{{ST:order}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="order" placeholder="{{ST:order}}" name="order_by" value="{{ID:order_by}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="locked"  {{ID:locked_state}}/> {{ST:lock_so_only_admin_can_post}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:save}}</button>
                    <a class="btn btn-danger" href="javascript:" data-target=".myModalSingle" data-toggle="modal">{{ST:delete}}</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade myModalSingle">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" action="{{ID:base_url}}category.php?id={{ID:id}}" method="get">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4>{{ST:delete_category}}</h4>
            </div>
            <div class="modal-body">

                    <input type="hidden" value="{{ID:id}}" name="id"/>
                    <p>
                        <input type="radio" name="option" value="everything" checked>
                        {{ST:delete_subcategories}}
                    </p>
                    <p>
                        <input type="radio" name="option" value="assign_to">
                        {{ST:move_subcategories}}
                        <select class="span2" name="new_parent">
                            {{ID:categories}}
                        </select>
                    </p>
                    <br/>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" name="delete" value="1">{{ST:delete}}</button> <a class="btn btn-default" data-dismiss="modal">{{ST:cancel}}</a>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

