<script>
    jQuery(document).ready(function() {
        var getting_feed = false;

        setInterval(get_feed,5000);

        jQuery("#more-feed-posts").click(function(){
            get_feed();
        });

        function get_feed(){
            if(getting_feed == false){
                getting_feed = true;
                jQuery.get( base_url + "feed-ajax.php?last=" + jQuery('#last_id').val(), function( data ) {
                    jQuery( "#feed-posts" ).prepend(data.posts);
                    if(data.last_id > 0){
                        jQuery('#last_id').val(data.last_id)
                    }
                    getting_feed = false;
                }, 'json');
            }
        }
    });
</script>

<input type="hidden" id="last_id" value="{{ID:last_id}}">

<h2>{{ID:title}} <a class="btn btn-info btn-sm" id="more-feed-posts" href="javascript:"><span class="glyphicon glyphicon-refresh"></span></a></h2>

{{ID:alert}}

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="feed-posts">
        {{ID:rows}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>
