<div class="row">
    <div class="[ col-md-12 ]">
        <div class="[ panel panel-default ] panel-google-plus {{ID:question-panel}}">

            <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" {{ID:flag_alert}} href="{{ID:base_url}}feed.php?page={{ID:page}}&flag=1&post={{ID:id}}"><span class="glyphicon glyphicon-ban-circle"> {{ST:is_inappropriate}}</a></li>
                    <li {{ID:edit_state}} role="presentation"><a role="menuitem" tabindex="-1" href="{{ID:base_url}}post.php?id={{ID:id}}&type=edit"><span class="glyphicon glyphicon-pencil"> {{ST:edit}}</a></li>
                    <li {{ID:delete_state}} role="presentation"><a role="menuitem" tabindex="-1" onclick="return confirm('{{ST:are_you_sure_delete}}');" href="{{ID:base_url}}feed.php?page={{ID:page}}&delete=1&post={{ID:id}}"><span class="glyphicon glyphicon-trash"> {{ST:delete}}</a></li>
                </ul>
            </div>

            <div class="panel-heading">
                <a class="[ pull-left ]" href="{{ID:path_to_profile}}"><img src="{{ID:base_url}}php/timthumb.php?src={{ID:user_photo}}&w=46&h=46" alt="{{ID:user_name}}" /></a>
                <h3><a href="{{ID:path_to_profile}}">{{ID:user_name}}</a> {{ID:is_admin}} <a {{ID:display_badges}} data-trigger="focus" id="badges_{{ID:id}}" href="javascript:"><img src="{{ID:base_url}}img/badges.png"></a></h3>
                <h5><span>{{ID:date}}</span> </h5>
            </div>
            <div class="panel-body">
                {{ID:question}}
                {{ID:files}}
                {{ID:signature}}
            </div>
            <div class="panel-footer">
                <a data-toggle="tooltip" data-placement="top" title="{{ID:like_or_un_text}}" class="btn {{ID:like_or_un}} btn-sm" {{ID:like_alert}} href="{{ID:base_url}}feed.php?page={{ID:page}}&{{ID:like_or_un_get}}=1&post={{ID:id}}">{{ID:likes}} <span class="glyphicon glyphicon-thumbs-up"></a>
                <a class="btn btn-info btn-sm" {{ID:post_alert}} href="{{ID:base_url}}post.php?id={{ID:thread_id}}&type=reply&quote={{ID:id}}">{{ST:reply_with_quote}}</a>
                <a class="btn btn-info btn-sm" {{ID:post_alert}} href="{{ID:base_url}}post.php?id={{ID:thread_id}}&type=reply">{{ST:reply}}</a>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#badges_{{ID:id}}').popover({'html': true, 'placement': 'right', title: '{{ST:badges}}', content: '{{ID:user_badges}}'});
</script>
