<div class="row">
<div class="col-md-12">
<h1>{{ST:flagged}}</h1>
{{ID:alert}}
</div>
</div>
<br/>
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
<div class="row">
<div class="col-md-12">
{{ID:rows}}           
</div>
</div>
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
