<h2>{{ST:forgot_password}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}forgot.php">

            <div class="form-group">
                <label for="username_or_email" class="col-sm-3 control-label">{{ST:username_or_email}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username_or_email" placeholder="{{ST:username_or_email}}" name="username_or_email" value="{{ID:username_or_email}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:submit}}</button> <a class="btn btn-default" href="signin.php">{{ST:signin}}</a>
                </div>
            </div>
        </form>
    </div>
</div>
