<div class="row">
<div class="col-md-12">
<h1>{{ID:home_title}}</h1>
</div>
</div>
<br/>
{{ID:alert}}
<div class="row">
<div class="col-md-12">
</div>
</div>
<div class="row">
<div class="col-md-12">
<table class="table table-bordered">
<thead>
<tr>
<th width="45%">{{ST:forum}}</th>
<th width="10%">{{ST:threads}}</th>
<th width="45%">{{ST:latest_activity}}</th>
</tr>
</thead>
<tbody>
{{ID:rows}} 
</tbody>
</table>
         
</div>
</div>
