<div class="row">
<div class="col-md-12">
<h1 style="float: left;">{{ID:home_title}}</h1>
<div style="clear: both;"></div>
   {{ID:subforums}}
</div>
</div>
<br/>
{{ID:alert}}
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
<div class="row">
<div class="col-md-12">
{{ID:rows}}           
</div>
</div>
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
