<form class="form-inline" role="form" method="post" action="{{ID:current_url}}">
    <div class="form-group" style="width: 100%;">
        <select class="form-control" name="lang" style="width: 70%;">
            <option value="">{{ST:select_lang}}</option>
            {{ID:rows}}
        </select>
    <button style="width: 25%;" type="submit" class="btn btn-default" name="lang_submit" value="1">{{ST:go}}</button>
    </div>
</form>

