<script>
    jQuery(document).ready(function() {
        var getting_messages = false;

        setInterval(get_messages,10000);

        jQuery("#more-messages").click(function(){
            get_messages();
        });

        function get_messages(){
            if(getting_messages == false){
                getting_messages = true;
                jQuery.get( base_url + "ajax-new-messages.php?contact={{ID:contact_id}}", function( data ) {
                    jQuery( "#messages" ).prepend(data);
                    getting_messages = false;
                });
            }
        }
    });
</script>
<div class="row">
    <div class="col-md-12">
        <h1>{{ID:contact_user_name}}</h1>
    </div>
</div>
<br/>
{{ID:alert}}
<div class="row">
    <div class="col-md-12">
        <form method="post" action="{{ID:base_url}}messages_conversation.php?contact={{ID:contact_id}}">
            <p><textarea name="message" id="message" class="form-control" rows="10">{{ID:message}}</textarea></p>
            <script>
                CKEDITOR.replace( 'message' );
            </script>
            <p><input type="submit" name="send" value="{{ST:send}}" class="btn btn-info btn-block"/></p>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="messages">
        {{ID:rows}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>