<form method="post" action="{{ID:base_url}}messages.php?contact={{ID:id}}">
<p><textarea name="message" id="message" class="span9" rows="10">{{ID:message}}</textarea><p>
<script type="text/javascript">
tinyMCE.init({
	mode: "exact",
	elements : "message",
	theme : "advanced",
	plugins : "emotions,spellchecker,advhr,insertdatetime,preview", 
	theme_advanced_buttons1 : "bold,italic,underline,link,unlink,image,bullist,numlist,cut,copy,paste",
	convert_urls : false,
	relative_urls : false,
	document_base_url : "{{ID:base_url}}"
});
</script>
<p><input type="submit" name="send" value="{{ST:send}}" class="btn btn-info"/>
