<tr{{ID:is_seen}}>
    <td>{{ID:date}}</td>
    <td><a href="{{ID:path_to_profile}}"><img src="{{ID:base_url}}php/timthumb.php?src={{ID:user_photo}}&w=24&h=24"/>&nbsp;{{ID:username}}</a>{{ID:is_admin}}</td>
    <td><a href="{{ID:base_url}}messages_conversation.php?contact={{ID:contact_id}}">{{ID:message}}</a></td>
</tr>