<div class="row">
<div class="col-md-12">
<h1>{{ST:messages}} <a class="btn btn-info btn-sm" href="{{ID:base_url}}message_new.php"><span class="glyphicon glyphicon-edit"></span> {{ST:new_message}}</a></h1>
</div>
</div>
<br/>
{{ID:alert}}
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
<div class="row">
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <th width="150px;">{{ST:date}}</th>
            <th width="200px;">{{ST:username}}</th>
            <th>{{ST:message}}</th>
        </thead>
        {{ID:rows}}
    </table>

</div>
</div>
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
