<div class="mi_box">
<div class="row">
<div class="span1">
<p><a href="{{ID:path_to_profile}}"><img width="48px" height="48px" src="{{ID:user_photo}}" title="{{ID:user_name}}"></a></p>
{{ID:is_admin}}
{{ID:user_badges}}
</div>
<div class="span7">
<h3>{{ID:user_name}}:</h3>
<div>{{ID:message}}</div>
<p></p>
<div>
<p style="float: left;"><span class="label">{{ID:date}}</span></p>
<p style="float: right;{{ID:hide_mark_as_read}}"><a href="messages.php?mark_as_read={{ID:id}}&contact={{ID:user_id}}">{{ST:mark_as_read}}</a></p>

<div style="clear: both;"></div>
</div>
</div>
</div>
</div>
