<h2>{{ID:title}}</h2>
<br/>
{{ID:alert}}
<form method="post" action="{{ID:base_url}}message_new.php">
    <p><input autocomplete="off" type="text" name="receiver" id="receiver" class="form-control typeahead" value="{{ID:receiver}}" placeholder="{{ST:start_typing_username}}"></p>
    <script>
        jQuery(document).ready(function() {
            jQuery('.typeahead').typeahead({
                //source: {{ID:user_names}}
                source: function (query, process) {
                    jQuery.get('{{ID:base_url}}get_usernames.php', { q: query }, function (usernames) {
                        process(usernames)
                    },'json')
                }
            });
        });
    </script>
    <br>
    <p><textarea name="message" id="message" class="form-control" rows="10">{{ID:message}}</textarea></p>
    <script>
        CKEDITOR.replace( 'message' );
    </script>
    <p><input type="submit" name="send" value="{{ST:send}}" class="btn btn-info btn-block"/></p>
</form>