<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{{ID:base_url}}online.php">{{ST:who_is_online}}</a></div>
            <div class="panel-body">
                <div class="row">
                    {{ID:rows}}
                </div>
            </div>
        </div>
    </div>
</div>
<br>