<!-- category.html:Start -->
<h2>{{ID:title}}</h2>
<br/>
<div class="row">
<div class="col-md-12">
    {{ID:alert}}
    <div {{ID:the_form}}>
        <form class="form-horizontal" method="post" action="{{ID:base_url}}post.php?type={{ID:type}}{{ID:id_query}}"  enctype="multipart/form-data">
            <span {{ID:show_title}}><input style="font-size: 14px; font-weight:bold;" type="text" class="form-control" name="title" value="{{ID:title_post}}" placeholder="{{ST:title}}"/>
            <br/>
            <br/></span>
<span {{ID:show_categories}}><select name="category" class="form-control">
<option value="">{{ST:select_a_category}}</option>
{{ID:categories}}
</select>
<br/>
<br/></span>
<textarea class="form-control" rows="12" name="body" id="body">{{ID:body}}</textarea>
            <script>
                CKEDITOR.replace( 'body' );
            </script>
<br/>
<br/>
            <div class="form-group"{{ID:file_upload}}>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly placeholder="{{ST:select_files_to_attach}}">
					<span class="input-group-btn">
						<span class="btn btn-default btn-file">
							<span class="glyphicon glyphicon-camera"></span> <input type="file" id="photos[]" name="photos[]" multiple>
						</span>
					</span>
                    </div>
                </div>
            </div>
{{ID:files}}
<br/>
<div>
{{ID:captcha_html}}
</div>
<br/>
<input type="hidden" name="quote" value="{{ID:quote}}"/>
<button type="submit" class="btn btn-info" name="submit" value="1">{{ST:submit}}</button>
</form>
</div>
</div>
</div>
<!-- category.html:End -->
