{{ID:alert}}

<p style="text-align: right;{{ID:mute_unmute_state}}"><a onclick="return confirm('{{ST:are_you_sure}}');" class="btn btn-info" {{ID:unmute_state}} href="{{ID:this_url}}&unmute=1">{{ST:unmute_user}}</a>
    <a onclick="return confirm('{{ST:are_you_sure}}');" class="btn btn-danger" {{ID:mute_state}} href="{{ID:this_url}}&mute=1">{{ST:mute_user}}</a> </p>

<div class="row">
    <div class="col-md-12">
        <div class="well profile">
            <div class="col-md-12">
                <div class="col-md-9">
                    <h2>{{ID:username}}</h2>
                    <p class="more">{{ID:bio}} </p>
                    <p>{{ID:user_badges}}</p>
                    <p class="lead">{{ID:facebook_url}}{{ID:twitter_url}}{{ID:google_url}}{{ID:website_url}}</p>
                </div>
                <div class="col-md-3 text-center">
                    <figure>
                        <img src="{{ID:base_url}}php/timthumb.php?src={{ID:base_url}}{{ID:photo}}&w=200&h=200" alt="" class="img-responsive">
                        <figcaption style="margin-top: 10px;">
                            <p{{ID:hide_message_button}}><a href="{{ID:base_url}}message_new.php?contact={{ID:id}}" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-envelope"></span> {{ST:send_private_message}}</a></p>
                            <p id="follow_{{ID:id}}"{{ID:hide_follow_button}}><a data-id="{{ID:id}}" href="javascript:" class="follow_btn btn btn-success btn-sm btn-block"><span class="glyphicon glyphicon-plus-sign"></span> {{ST:follow}}</a></p>
                            <p id="unfollow_{{ID:id}}"{{ID:hide_unfollow_button}}><a data-id="{{ID:id}}" href="javascript:" class="unfollow_btn btn btn-danger btn-sm btn-block"><span class="glyphicon glyphicon-remove-circle"></span> {{ST:unfollow}}</a></p>
                            <p{{ID:hide_profile_button}}><a href="{{ID:profile_url}}" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-cog"></span> {{ST:edit_your_profile}}</a></p>
                            {{ID:delete_photo}}
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-12 divider text-center">
                <div class="col-md-4 emphasis{{ID:posts_active}}">
                    <h2><strong> {{ID:total_posts}} </strong></h2>
                    <p><small>{{ST:posts}}</small></p>
                    <a href="{{ID:this_url}}" class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> {{ST:view_posts}}</a>
                </div>
                <div class="col-md-4 emphasis{{ID:followers_active}}">
                    <h2><strong> {{ID:total_followers}} </strong></h2>
                    <p><small>{{ST:followers}}</small></p>
                    <a href="{{ID:this_url}}&followers=1" class="btn btn-info btn-block"><span class="fa fa-plus-circle"></span> {{ST:view_followers}} </a>
                </div>
                <div class="col-md-4 emphasis{{ID:following_active}}">
                    <h2><strong> {{ID:total_following}} </strong></h2>
                    <p><small>{{ST:following}}</small></p>
                    <a href="{{ID:this_url}}&following=1" class="btn btn-info btn-block"><span class="fa fa-user"></span> {{ST:view_following}} </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>
<div class="row">
    {{ID:rows}}
</div>

<div class="row">
    <div class="col-md-12">
        <center>
            {{ID:pagination}}
        </center>
    </div>
</div>
