<div class="[ col-md-3 ]">
    <a href="{{ID:path_to_profile}}"><img class="img-responsive img-thumbnail" src="{{ID:base_url}}php/timthumb.php?src={{ID:user_photo}}&w=200&h=200" alt="{{ID:user_name}}" /></a>
    <h4 class="text-center"><a href="{{ID:path_to_profile}}">{{ID:user_name}}</a> {{ID:is_admin}}</h4>
    <p id="follow_{{ID:id}}"{{ID:hide_follow_button}}><a data-id="{{ID:id}}" href="javascript:" class="follow_btn btn btn-success btn-sm btn-block"><span class="glyphicon glyphicon-plus-sign"></span> {{ST:follow}}</a></p>
    <p id="unfollow_{{ID:id}}"{{ID:hide_unfollow_button}}><a data-id="{{ID:id}}" href="javascript:" class="unfollow_btn btn btn-danger btn-sm btn-block"><span class="glyphicon glyphicon-remove-circle"></span> {{ST:unfollow}}</a></p>
    <p{{ID:hide_profile_button}}><a href="{{ID:profile_url}}" class="btn btn-default btn-sm btn-block"><span class="glyphicon glyphicon-cog"></span> {{ST:edit_your_profile}}</a></p>
</div>