<h2>{{ST:profile}}  <a class="btn btn-info btn-sm" href="{{ID:base_url}}profiles.php?id={{ID:id}}">{{ST:as_seen_by_others}}</a></h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}profile.php" enctype="multipart/form-data">

            <div class="form-group"{{ID:facbook_profile_hide}}>
                <label for="opassword" class="col-sm-3 control-label">{{ST:current_password}}</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="opassword" placeholder="{{ST:current_password}}" name="opassword" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">{{ST:username}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username" placeholder="{{ST:username}}" name="username" value="{{ID:username}}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{{ST:email}}</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" placeholder="{{ST:email}}" name="email" value="{{ID:email}}">
                </div>
            </div>

            <span{{ID:facbook_profile_hide}}>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">{{ST:password}}</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" placeholder="{{ST:password}}" name="password" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cpassword" class="col-sm-3 control-label">{{ST:repeat_password}}</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="cpassword" placeholder="{{ST:repeat_password}}" name="cpassword" value="">
                    </div>
                </div>
            </span>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ST:profile_photo}} (200x200)</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control" readonly placeholder="{{ST:profile_photo}} (200x200)">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <span class="glyphicon glyphicon-camera"></span> <input type="file" id="profile_photo" name="profile_photo">
                                </span>
                            </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    {{ID:current_profile}}
                </div>
            </div>

            <div class="form-group">
                <label for="bio" class="col-sm-3 control-label">{{ST:bio}}</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="5" id="bio" placeholder="{{ST:bio}}" name="bio">{{ID:bio}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="signature" class="col-sm-3 control-label">{{ST:your_signature_text}}</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="signature" placeholder="{{ST:your_signature_text}}" name="signature">{{ID:signature}}</textarea>
                </div>
            </div>


            <div class="form-group">
                <label for="website_url" class="col-sm-3 control-label">{{ST:website}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="website_url" placeholder="{{ST:website}}" name="website_url" value="{{ID:website_url}}">
                </div>
            </div>

            <div class="form-group">
                <label for="facebook_url" class="col-sm-3 control-label">{{ST:facebook}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="facebook_url" placeholder="{{ST:facebook}}" name="facebook_url" value="{{ID:facebook_url}}">
                </div>
            </div>

            <div class="form-group">
                <label for="twitter_url" class="col-sm-3 control-label">{{ST:twitter}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="twitter_url" placeholder="{{ST:twitter}}" name="twitter_url" value="{{ID:twitter_url}}">
                </div>
            </div>

            <div class="form-group">
                <label for="google_url" class="col-sm-3 control-label">{{ST:google_plus}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="google_url" placeholder="{{ST:google_plus}}" name="google_url" value="{{ID:google_url}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:save}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
