<div class="row">
<div class="col-md-12">
<h1>{{ST:search_results}}</h1>
</div>
</div>
<br/>
{{ID:alert}}
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
<div class="row">
<div class="col-md-12">
{{ID:rows}}           
</div>
</div>
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>