<div class="row">
    <div class="[ col-md-12 ]">
        <div class="[ panel panel-default ] panel-google-plus">

            <div class="panel-google-plus-tags">
                <ul>
                    <li><a href="{{ID:category_url}}">{{ID:category_name}}</a></li>
                </ul>
            </div>

            <div class="panel-heading">
                <a class="[ pull-left ]" href="{{ID:path_to_profile}}"><img src="{{ID:base_url}}php/timthumb.php?src={{ID:user_photo}}&w=46&h=46" alt="{{ID:user_name}}" /></a>
                <h2>{{ID:locked}}<a href="{{ID:thread_url}}">{{ID:title}}</a></h2>
                <h5>{{ST:by}} <a href="{{ID:path_to_profile}}">{{ID:user_name}}</a> {{ID:is_admin}} <span>{{ID:date}}</span> </h5>
            </div>
            <div class="panel-body">
                {{ID:question}}
            </div>
            <div class="panel-footer">
                <p class="lead" style="margin: 0;"><span class="label label-info">{{ID:likes}} {{ST:likes}}</span> <span class="label label-success">{{ID:views}} {{ST:views}}</span> <span class="label label-warning">{{ID:replies}} {{ST:replies}}</span></p>
            </div>
        </div>
    </div>
</div>
