<h2 xmlns="http://www.w3.org/1999/html">{{ST:settings}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}settings.php">

            <div class="form-group">
                <label for="site_name" class="col-sm-3 control-label">{{ST:forum_site_name}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="site_name" placeholder="{{ST:forum_site_name}}" name="site_name" value="{{ID:site_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="site_meta_description" class="col-sm-3 control-label">{{ST:site_default_meta_description}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="site_meta_description" placeholder="{{ST:site_default_meta_description}}" name="site_meta_description" value="{{ID:site_meta_description}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="make_forum_private"  {{ID:make_forum_private_state}}/> {{ST:make_forum_private}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="use_sef_urls"  {{ID:use_sef_urls_state}}/> {{ST:use_sef_urls}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="classic_home_page"  {{ID:classic_home_page_state}}/> {{ST:use_classic_home_page}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="time_zone" class="col-sm-3 control-label">{{ST:time_zone}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="time_zone" placeholder="{{ST:time_zone}}" name="time_zone" value="{{ID:time_zone}}">
                </div>
            </div>

            <div class="form-group">
                <label for="theme" class="col-sm-3 control-label">{{ST:theme}}</label>
                <div class="col-sm-5">
                    <select class="form-control" name="theme" id="theme">
                        <option {{ID:theme_selected_default}} value="default">Default</option>
                        <option {{ID:theme_selected_cosmo}} value="cosmo">Cosmo</option>
                        <option {{ID:theme_selected_cerulean}} value="cerulean">Cerulean</option>
                        <option {{ID:theme_selected_cyborg}} value="cyborg">Cyborg</option>
                        <option {{ID:theme_selected_darkly}} value="darkly">Darkly</option>
                        <option {{ID:theme_selected_flatly}} value="flatly">Flatly</option>
                        <option {{ID:theme_selected_journal}} value="journal">Journal</option>
                        <option {{ID:theme_selected_paper}} value="paper">Paper</option>
                        <option {{ID:theme_selected_readable}} value="readable">Readable</option>
                        <option {{ID:theme_selected_simplex}} value="simplex">Simplex</option>
                        <option {{ID:theme_selected_slate}} value="slate">Slate</option>
                        <option {{ID:theme_selected_spacelab}} value="spacelab">Spacelab</option>
                        <option {{ID:theme_selected_superhero}} value="superhero">Superhero</option>
                        <option {{ID:theme_selected_united}} value="united">United</option>
                        <option {{ID:theme_selected_yeti}} value="yeti">Yeti</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="rows_per_page" class="col-sm-3 control-label">{{ST:rows_per_page}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="rows_per_page" placeholder="{{ST:rows_per_page}}" name="rows_per_page" value="{{ID:rows_per_page}}">
                </div>
            </div>

            <div class="form-group">
                <label for="base_path" class="col-sm-3 control-label">{{ST:base_path}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="base_path" placeholder="{{ST:base_path}}" name="base_path" value="{{ID:base_path}}">
                </div>
            </div>

            <div class="form-group">
                <label for="forum_url" class="col-sm-3 control-label">{{ST:forum_url}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="forum_url" placeholder="{{ST:forum_url}}" name="forum_url" value="{{ID:forum_url}}">
                </div>
            </div>

            <div class="form-group">
                <label for="site_url" class="col-sm-3 control-label">{{ST:site_url}}<span style="color: red;">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="site_url" placeholder="{{ST:site_url}}" name="site_url" value="{{ID:site_url}}">
                </div>
            </div>

            <div class="form-group">
                <label for="recaptcha_public_key" class="col-sm-3 control-label">{{ST:recaptcha_public_key}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="recaptcha_public_key" placeholder="{{ST:recaptcha_public_key}}" name="recaptcha_public_key" value="{{ID:recaptcha_public_key}}">
                </div>
            </div>

            <div class="form-group">
                <label for="recaptcha_private_key" class="col-sm-3 control-label">{{ST:recaptcha_private_key}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="recaptcha_private_key" placeholder="{{ST:recaptcha_private_key}}" name="recaptcha_private_key" value="{{ID:recaptcha_private_key}}">
                </div>
            </div>

            <div class="form-group">
                <label for="facebook_app_id" class="col-sm-3 control-label">{{ST:facebook_app_id}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="facebook_app_id" placeholder="{{ST:facebook_app_id}}" name="facebook_app_id" value="{{ID:facebook_app_id}}">
                </div>
            </div>

            <div class="form-group">
                <label for="facebook_app_secret" class="col-sm-3 control-label">{{ST:facebook_app_secret}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="facebook_app_secret" placeholder="{{ST:facebook_app_secret}}" name="facebook_app_secret" value="{{ID:facebook_app_secret}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="admin_approve_posts"  {{ID:admin_approve_posts_state}}/> {{ST:admin_approve_posts}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="email_admin_on_flag"  {{ID:email_admin_on_flag_state}}/> {{ST:email_admin_on_flag}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="email_admin_on_signup"  {{ID:email_admin_on_signup_state}}/> {{ST:email_admin_on_signup}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="email_admin_on_start_thread"  {{ID:email_admin_on_start_thread_state}}/> {{ST:email_admin_on_start_thread}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="approve_new_user"  {{ID:approve_new_user_state}}/> {{ST:approve_new_user}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="bad_words" class="col-sm-3 control-label">{{ST:words_to_filter}}</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="5" id="bad_words" placeholder="{{ST:words_to_filter}}" name="bad_words">{{ID:bad_words}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="multi_lingual"  {{ID:multi_lingual_state}}/> {{ST:is_multi_lingual}}
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="primary_language" class="col-sm-3 control-label">{{ST:primary_language}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="primary_language" placeholder="{{ST:primary_language}}" name="primary_language" value="{{ID:primary_language}}">
                    <p class="help-block">{{ST:primary_language_help}}</p>
                </div>

            </div>

            <div class="form-group">
                <label for="other_languages" class="col-sm-3 control-label">{{ST:other_languages}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="other_languages" placeholder="{{ST:other_languages}}" name="other_languages" value="{{ID:other_languages}}">
                    <p class="help-block">{{ST:other_languages_help}}</p>
                </div>

            </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <button type="submit" class="btn btn-info" value="1" name="submit">{{ST:save_changes}}</button>
            </div>
        </div>
    </form>
</div>
</div>