<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ST:admin_menu}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ID:base_url}}categories.php">{{ST:categories}}</a></li>
            <li><a href="{{ID:base_url}}users.php">{{ST:user_management}}</a></li>
            <li><a href="{{ID:base_url}}approve.php">{{ST:approve_posts}}</a></li>
            <li><a href="{{ID:base_url}}flagged.php">{{ST:flagged}}</a></li>
            <li><a href="{{ID:base_url}}achievements.php">{{ST:achievements}}</a></li>
            <li><a href="{{ID:base_url}}settings.php">{{ST:settings}}</a></li>
        </ul>
    </li>
</ul>