<p><span class="glyphicon glyphicon-home"></span> <a href="{{ID:base_url}}"> {{ST:home}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-ok-circle"></span> <a href="{{ID:signup_url}}"> {{ST:sign_up}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-log-in"></span> <a href="{{ID:signin_url}}"> {{ST:sign_in}}</a></p>
<br/>
<span{{ID:facebook_hide}}>
<p><i class="simple-forum-icon-facebook-1"></i> <a href="" id="facebook_signin"> {{ST:sign_in_with_facebook}}</a></p>
<br/>
</span>
<p><span class="glyphicon glyphicon-exclamation-sign"></span> <a href="{{ID:forgot_url}}"> {{ST:forgot_password}}</a></p>