<p><span class="glyphicon glyphicon-home"></span> <a href="{{ID:base_url}}"> {{ST:home}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-dashboard"></span> <a href="{{ID:base_url}}feed.php"> {{ST:my_feed}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-pencil"></span> <a href="{{ID:base_url}}index.php?mine=1"> {{ST:your_threads}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-bookmark"></span> <a href="{{ID:base_url}}index.php?following=1"> {{ST:your_subscriptions}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-user"></span> <a href="{{ID:profile_url}}"> {{ST:profile}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-inbox"></span> <a href="{{ID:base_url}}messages.php"> {{ST:messages}}{{ID:unread_msg_count}}</a></p>
<br/>
<p><span class="glyphicon glyphicon-log-out"></span> <a href="{{ID:signout_url}}"> {{ST:signout}}</a></p>