<h2>{{ST:sign_up}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}signup.php">

            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">{{ST:username}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username" placeholder="{{ST:username}}" name="username" value="{{ID:username}}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{{ST:email}}</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" placeholder="{{ST:email}}" name="email" value="{{ID:email}}">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{{ST:password}}</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" placeholder="{{ST:password}}" name="password" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="cpassword" class="col-sm-3 control-label">{{ST:repeat_password}}</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="cpassword" placeholder="{{ST:repeat_password}}" name="cpassword" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:submit}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
