<h2>{{ST:signin}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}signin.php">

            <div class="form-group">
                <label for="username_or_email" class="col-sm-3 control-label">{{ST:username_or_email}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username_or_email" placeholder="{{ST:username_or_email}}" name="username_or_email" value="{{ID:username_or_email}}">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">{{ST:password}}</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" placeholder="{{ST:password}}" name="password" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="remember_me"  {{ID:remember_me_state}}/> {{ST:remember_me}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:signin}}</button>
                    <a class="btn btn-default" href="forgot.php">{{ST:forgot_password}}</a>

                </div>
            </div>
        </form>
    </div>
</div>

