    <div class="row">
        <div class="[ col-md-12 ]">
            <div class="panel panel-danger">
                <div class="panel-body">
                    <h4>{{ST:has_been_flagged_and_is_pending_review}}</h4>
                </div>
            </div>
        </div>
    </div>


