<div class="row">
<div class="col-md-12">
<h1>{{ID:post_title}}</h1>
<br/>

    <div class="btn-group pull-right" style="padding-left: 10px;{{ID:admin_option_state}}">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            {{ST:admin_options}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li {{ID:unlock_state}}><a href="{{ID:base_url}}thread.php?id={{ID:id}}&page={{ID:page}}&unlock=1">{{ST:unlock_thread}}</a></li>
            <li {{ID:lock_state}}><a href="{{ID:base_url}}thread.php?id={{ID:id}}&page={{ID:page}}&lock=1">{{ST:lock_thread}}</a></li>
            <li {{ID:unpin_state}}><a href="thread.php?id={{ID:id}}&page={{ID:page}}&unpin=1">{{ST:unpin_thread}}</a></li>
            <li {{ID:pin_state}}><a href="thread.php?id={{ID:id}}&page={{ID:page}}&pin=1">{{ST:pin_thread}}</a></li>
            <li class="divider"></li>
            <li {{ID:delete_state}}><a onclick="return confirm('{{ST:are_you_sure_delete}}');" href="{{ID:base_url}}thread.php?id={{ID:id}}&delete=1&post={{ID:id}}">{{ST:delete_thread}}</a></li>
        </ul>
    </div>

<p class="pull-right">
    <a class="btn btn-info" {{ID:post_alert}} href="{{ID:base_url}}post.php?id={{ID:id}}&page={{ID:page}}&type=reply">{{ST:post_reply}}</a>
    <a class="btn btn-info" {{ID:unsubscribe_state}} href="{{ID:base_url}}thread.php?id={{ID:id}}&page={{ID:page}}&unsubscribe=1">{{ST:unsubscribe}}</a>
    <a class="btn btn-info" {{ID:subscribe_state}} href="{{ID:base_url}}thread.php?id={{ID:id}}&page={{ID:page}}&subscribe=1">{{ST:subscribe}}</a>
</p>
</div>
</div>
<br/>
{{ID:alert}}
<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>
<div class="row">
<div class="col-md-12">
{{ID:rows}}        
</div>
</div>

<div class="row">
<div class="col-md-12">
<center>
{{ID:pagination}}
</center>       
</div>
</div>