<h2>{{ST:edit_user}}</h2>
{{ID:alert}}
<br/>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="post" action="{{ID:base_url}}user.php?id={{ID:id}}">

            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">{{ST:username}}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username" placeholder="{{ST:username}}" name="username" value="{{ID:username}}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">{{ST:email}}</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" placeholder="{{ST:email}}" name="email" value="{{ID:email}}">
                </div>
            </div>

            <div class="form-group">
                <label for="role" class="col-sm-3 control-label">{{ST:select_role}}</label>
                <div class="col-sm-5">
                    <select class="form-control" name="role" id="role">
                        <option {{ID:user_selected}} value="user">{{ST:basic_user}}</option>
                        <option {{ID:moderator_selected}} value="moderator">{{ST:moderator}}</option>
                        <option {{ID:admin_selected}} value="admin">{{ST:administrator}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ST:assign_achievements}}</label>
                <div class="col-sm-7">
                    <div class="scroll_checkboxes">
                        {{ID:achievements}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="deny_access" {{ID:deny_access_state}}/> {{ST:deny_access}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" {{ID:mute_state}}>
                <div class="col-sm-offset-3 col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="unmute" {{ID:unmute_state}}/> {{ST:unmute_user}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-info" name="submit" value="1">{{ST:save}}</button>
                    <button onclick="return confirm('{{ST:are_you_sure_delete}}');" type="submit" class="btn btn-danger" name="delete" value="1">{{ST:delete}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
