<!-- admins.html:Start -->
<h1>{{ID:title}}</h1>
<br/>
<div class="row">
<div class="col-md-12">
<table class="table table-bordered">
<thead>
<tr>
<th>{{ST:username}}</th>
<th>{{ST:role}}</th>
<th>{{ST:status}}</th>
</tr>
</thead>
<tbody>
{{ID:rows}}
</tbody>
</table>
{{ID:pagination}}
</div>
</div>
<!-- admins.html:End -->
