<!-- admins.html:Start -->
<h1>{{ID:title}} <a class="btn btn-info btn-sm" href="{{ID:base_url}}user_new.php"><span class="glyphicon glyphicon-plus-sign"></span> {{ST:add_user}}</a></h1>
{{ID:alert}}
<br/>
<div class="row">
<div class="col-md-12">

<table class="table table-bordered">
<thead>
<tr>
<th>{{ST:username}}</th>
<th>{{ST:email}}</th>
<th>{{ST:role}}</th>
<th>{{ST:status}}</th>
</tr>
</thead>
<tbody>
{{ID:rows}}
</tbody>
</table>
{{ID:pagination}}
</div>
</div>
<!-- admins.html:End -->
